{% import "macros/form.html" as form %}
{% resource 'knowledgehub/javascript/list_subthemes_for_theme.js' %}

<form id="research-question-form" action="" method="post" enctype="multipart/form-data" novalidate>
  {{ form.errors(error_summary) }}

  {% set attrs = {'data-module': 'slug-preview-target', 'class': 'form-control'} %}
  {%- set prefix = h.url_for('/research-question/') -%}
  {%- set domain = h.url_for('/research-question/', qualified=true) -%}
  {% set domain = domain|replace("http://", "")|replace("https://", "") %}
  {% set attrs_url = {'data-module': 'slug-preview-slug', 'class': 'form-control input-sm', 'data-module-prefix': domain, 'data-module-placeholder': '<' + 'research-question' + '>'} %}
  {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}

  {{ form.input('title', label=_('Question'), id='field-title', placeholder=_('Your research question'), value=data.title, error=errors.title, classes=['control-full'], attrs=attrs, is_required=true) }}
  {{ form.prepend('name', label=_('URL'), prepend=prefix, id='field-url', placeholder=_('my-research-question'), value=data.name, error=errors.name, attrs=attrs_url, is_required=true) }}
  {{ form.select('theme', label=_('Theme'), options=theme_options, error=errors.theme, selected=theme) }}
  {{ form.select('sub_theme', label=_('Sub-Theme'), options=sub_theme_options, error=errors.theme, selected=sub_theme) }}
  {{ form.input('tags', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tags, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}

  {% snippet 'research_question/snippets/image_upload.html', data=data, errors=errors %}

  {{ form.required_message() }}

  <div class="form-actions">
    {% block form_actions %}
    <button class="btn btn-primary" type="submit" name="save">{{ _("Create a Research question") }}</button>
    {% endblock %}
  </div>
</form>


