{% extends "page.html" %}

 {% block subtitle %}{{ _("Research questions") }}{% endblock %}

 {% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Research questions'), named_route='research_question.search') }}</li>
{% endblock %}

 {% block page_header %}{% endblock %}

 {% block page_primary_action %}
  {% if h.check_access('research_question_create') %}
    {% link_for _('Add Research question'), named_route='research_question.new', class_='btn btn-primary', icon='plus-square' %}
  {% endif %}
{% endblock %}

 {% block primary_content_inner %}
{% snippet 'snippets/search_form.html', form_id='research-question-search-form', type='research question', query=q, sorting_selected=order_by, count=total, placeholder=_('Search research questions...'), sorting = [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
  {% if research_questions %}
      {% snippet "research_question/snippets/research_question_list.html", research_question_list=research_questions %}
  {% else %}
    <p class="empty">
      {{ _('There are currently no research questions for this site') }}.
      {% if h.check_access('research_question_create') %}
        {{ h.nav_link(_('How about creating one?'), named_route='research_question.new') }}.
      {% endif %}
    </p>
  {% endif %}
  {% block page_pagination %}
    {{ page.pager(q=q or '', sort=order_by or '') }}
  {% endblock %}
{% endblock %}

 {% block secondary_content %}
{% snippet "research_question/snippets/helper.html" %}
{% endblock %}
