{% resource 'knowledgehub/table' %}
{% resource 'knowledgehub/javascript/table_pagination.js' %}

{% extends "user/read_base.html" %}

{% block primary_content_inner %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2 id="keywords-header-id">{{ _('Keywords') }}</h2>
        </div>
        <div class="col-sm-4">
            <a href="{{ h.url('/user/keywords/new') }}" class="btn btn-primary pull-right">
                <i class="fa fa-plus-square"></i> {{_('Create Keyword') }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="keywords" class="table table-hover dataTables_wrapper" cellspacing="0" width="100%">
                <thead>
                    <tr id="keywords-header">
                        <th>{{ _('Keyword') }}</th>
                        <th>{{ _('Tags') }}</th>
                        <th>{{ _('Manage') }}</th>
                        <th class="remove-th">{{ _('Remove') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for keyword in keywords%}
                    <tr>
                        <td><a href="{{ h.url_for('.keyword_read', id=keyword.name) }}">{{ keyword.name }}</a></td>
                        <td>
                            
                            {% for tag in keyword.tags%}
                            <span class="label label-info">{{ tag.name }}</span>
                            {% endfor%}
                        </td>
                        <td>
                            <a class="btn btn-default btn-sm my-0"
                                href="{{ h.url_for('.keyword_update_read', id=keyword.name) }}">
                                <i class="fa fa-wrench"></i>
                                {{ _('Manage') }}
                            </a>
                        </td>
                        <td id="remove-td">
                            <span>
                                <button class="btn btn-danger btn-rounded btn-sm my-0" data-module="confirm-action"
                                    data-module-content="{{ _('Are you sure you want to delete this keyword?') }}"
                                    href="{{ h.url_for('.keyword_delete', id=keyword.id) }}">
                                    <i class="fa fa-trash"></i>
                                    {{ _('Remove') }}
                                </button>
                            </span>
                        </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
