{% extends "page.html" %}

{% block breadcrumb_content %}
  <li>{{ h.nav_link(_('Sub-Themes'), named_route='sub_theme.search') }}</li>
  <li>{{ h.nav_link(sub_theme.get('title', sub_theme.get('name', ''))|truncate(35), named_route='sub_theme.read', name=sub_theme.get('name', '')) }}</li>
  <li class="active">{{ h.nav_link(_('Edit'), named_route='sub_theme.edit', name=sub_theme.get('name', '')) }}</li>
{% endblock %}


{% block primary_content %}
<article class="module">
  <div class="module-content">
    {% block primary_content_inner %}
    <h1 class="page-heading">
      {% block page_heading %}{{ _('Update the Sub-Theme') }}{% endblock %}
    </h1>
    {{ form | safe }}
    {% endblock %}
  </div>
</article>
{% endblock %}

{% block secondary_content %}
  {% snippet 'sub_theme/snippets/info.html', sub_theme=sub_theme %}
{% endblock %}