{% extends "page.html" %}

{% block subtitle %}{{ _("Sub-Themes") }}{% endblock %}

{% block breadcrumb_content %}
<li>{{ h.nav_link(_('Sub-Themes'), named_route='sub_theme.search') }}</li>
<li class="active">{{ h.nav_link(sub_theme.get('title', ''), named_route='sub_theme.read', name=sub_theme.get('name', '')) }}</li>
{% endblock %}

{% block content_action %}
  {% if h.check_access('sub_theme_update', {'user': user}) %}
    {{ h.nav_link(_('Manage'), named_route='sub_theme.edit', name=sub_theme.get('name', ''), class_='btn btn-default', icon='wrench') }}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  {{ super() }}

  <h1 class="text-wrap">
    {{ sub_theme.get('title', '') }}
  </h1>
  {% if sub_theme.get('description', None) %}
    <div class="notes embedded-content text-wrap">
      {{ h.markdown_extract(sub_theme.get('description', ''), extract_length=truncate_desc) }}
    </div>
  {% else %}
    <p class="empty">{{ _("This sub-theme has no description") }}</p>
  {% endif %}
  <span class="insert-comment-thread"></span>

  {% snippet "sub_theme/snippets/additional_info.html", theme=theme, sub_theme=sub_theme, created_by=created_by, modified_by=modified_by %}
{% endblock %}

{% block secondary_content %}
  {% snippet 'sub_theme/snippets/info.html', sub_theme=sub_theme %}
{% endblock %}

