{% ckan_extends %}
{{ super() }}


{% block breadcrumb_content %}
  <li>{% link_for _('Functional Units'), controller='organization', action='index', named_route=group_type + '_index' %}</li>
  {% block breadcrumb_content_inner %}
    <li>{% link_for organization.display_name|truncate(35), controller='organization', action='read', id=organization.name, named_route=group_type + '_read' %}</li>
    <li class="active">{% link_for _('Edit'), controller='organization', action='edit', id=organization.name, named_route=group_type + '_edit' %}</li>
  {% endblock %}
{% endblock %}