{% ckan_extends %}

{% block secondary_content %}
{% if organization %}
    {% snippet 'snippets/organization.html', organization=organization %}
  {% else %}
    {{ super() }}
  {% endif %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-lg fa-info-circle"></i>
    {{ _('What are roles?') }}
  </h2>
  <div class="module-content">
    {% trans %}
      <p><strong>Admin:</strong> Can add/edit and delete datasets, as well as
        manage functional unit members.</p>
      <p><strong>Editor:</strong> Can add and edit datasets, but not manage
        functional unit members.</p>
      <p><strong>Member:</strong> Can view the functional unit's private
        datasets, but not add new datasets.</p>
    {% endtrans %}
  </div>
{% endblock %}
