{% extends "page.html" %}

{% block subtitle %}{{ _('Themes') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Themes'), named_route='theme.index') }}</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('theme_create') %}
    {% link_for _('Add Theme'), named_route='theme.new', class_='btn btn-primary', icon='plus-square' %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Themes') }}{% endblock %}</h1>
  {% block themes_search_form %}
    {% snippet 'snippets/search_form.html', form_id='theme-search-form', type='theme', query=q, sorting_selected=sort_by_selected, count=page.item_count, placeholder=_('Search themes...'), sorting = [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
  {% endblock %}
  {% block themes_list %}
    {% if page.items %}
        {% snippet "theme/snippets/theme_list.html", themes=page.items %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no themes for this site') }}.
        {% if h.check_access('theme_create') %}
          {% link_for _('How about creating one?'), named_route='theme.new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}

  {% block page_pagination %}
   {{ page.pager(q=q or '', sort=sort_by_selected or '') }}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% snippet "theme/snippets/helper.html" %}
{% endblock %}