<section class="additional-info">
    <h3>{{ _('Additional Info') }}</h3>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th scope="col">{{ _('Field') }}</th>
                <th scope="col">{{ _('Value') }}</th>
            </tr>
        </thead>
        <tbody>
            {% if rq.get('theme', None) %}
            <tr>
                <th scope="row" class="dataset-label">{{ _("Theme") }}</th>
                <td class="dataset-details">{{ h.id_to_title('theme', rq.theme) }}</td>
            </tr>
            {% endif %}

            {% if rq.get('sub_theme', None) %}
            <tr>
                <th scope="row" class="dataset-label">{{ _("Sub-Theme") }}</th>
                <td class="dataset-details">{{ h.id_to_title('sub_theme', rq.sub_theme) }}</td>
            </tr>
            {% endif %}


            {% if rq.get('author', None) %}
            <tr>
                <th scope="row" class="dataset-label">{{ _("Created by") }}</th>
                <td class="dataset-details">{{ h.id_to_title('user', rq.author)}}</td>
            </tr>
            {% endif %}

            {% if rq.get('created', None) %}
            <tr>
                <th scope="row" class="dataset-label">{{ _("Created") }}</th>
                <td class="dataset-details">{{ h.render_datetime(rq.created, with_hours=True) }}</td>
            </tr>
            {% endif %}

            {% if rq.get('modified', None) %}
            <tr>
                <th scope="row" class="dataset-label">{{ _("Modified") }}</th>
                <td class="dataset-details">{{ h.render_datetime(rq.modified, with_hours=True) }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</section>
