<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What are research questions?') }}
    </h2>
    <div class="module-content">
        <p>
            {% trans %}
            Research questions are linked with themes and sub-themes. They present the question which the analytical framework is going to address. Each Theme and Sub-theme may have one or more research questions.
            {% endtrans%}
        </p>
    </div>
</div>
