{#
Displays a sidebard module with information for given research question

rq    - The research question dict

Example:

  {% snippet "research_question/snippets/info.html", rq=rq %}

#}

{% set truncate_desc = truncate_desc or 120 %}
{% if rq %}
  <section class="module module-narrow">
    <div class="module context-info">
      <div class="module-content">
        <img src="{{ image_url }}" alt="{{ rq.get('title') | truncate(30)}}" class="img-responsive media-image">
        <h1 class="heading">{{ rq.get('content', '') | truncate(30)}}</h1>
          <!-- {% if rq.get('description', None) %}
            <p>{{ h.markdown_extract(rq.description, extract_length=truncate_desc) }}</p>
          {% else %}
            <p class="empty">{{ _("This research question has no description.") }}</p>
          {% endif %} -->
      </div>
    </div>
  </section>
{% endif %}
