{% extends "page.html" %}

{% block subtitle %}{{ _('Create a Dashboard') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{{ h.nav_link(_('Dashboards'), named_route='dashboards.index') }}</li>
  <li class="active">{{ h.nav_link(_('Create a Dashboard'), named_route='dashboards.new') }}</li>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="{% block page_heading_class %}page-heading{% endblock %}">
    {% block page_heading %}{{ _('Create a Dashboard') }}{% endblock %}
  </h1>
  {% snippet 'dashboard/new_dashboard_form.html', data=data, errors=errors, error_summary=error_summary %}
{% endblock %}

{% block secondary_content %}
  {% snippet "dashboard/snippets/helper.html" %}
{% endblock %}
