{% resource 'knowledgehub/javascript/filter_by_select.js' %}
{% extends "page.html" %}

{% block subtitle %}{{ _('Dashboards') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Dashboards'), named_route='dashboards.index') }}</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('dashboard_create') %}
    {% link_for _('Add Dashboard'), named_route='dashboards.new', class_='btn btn-primary', icon='plus-square' %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Dashboards') }}{% endblock %}</h1>
  {% block dashboards_search_form %}
    {% snippet 'snippets/search_form.html', form_id='dashboard-search-form', type='dashboard', query=q, sorting_selected=sort_by_selected, count=page.item_count, placeholder=_('Search dashboards...'), sorting = [(_('Favourite Ascending'), 'favourite asc'), (_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
  {% endblock %}
  {% block dashboards_list %}
    {% if page.items %}
        {% set current_login_user = c.userobj.id if c and c.userobj else '' %}
        {% snippet "dashboard/snippets/dashboard_list.html", dashboards=page.items, current_login_user=current_login_user %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no dashboards for this site') }}.
        {% if h.check_access('dashboard_create') %}
          {% link_for _('How about creating one?'), named_route='dashboards.new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}

  {% block page_pagination %}
    {% if selected_organizations and selected_tags%}
        {{ page.pager(q=q or '', sort=sort_by_selected or '', organization=selected_organizations, tags=selected_tags) }}
    {% elif selected_organizations %}
        {{ page.pager(q=q or '', sort=sort_by_selected or '', organization=selected_organizations) }}
    {% elif selected_tags %}
        {{ page.pager(q=q or '', sort=sort_by_selected or '', tags=selected_tags) }}
    {% else %}
        {{ page.pager(q=q or '', sort=sort_by_selected or '') }}
    {% endif %}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% snippet "dashboard/snippets/helper.html" %}
    {% for facet in c.facet_titles %}
        {% set title = c.facet_titles[facet] %}
        {% if facet == 'organization' or facet == 'tags' %}
        <section class="module module-narrow module-shallow">
            <h2 class="module-heading" style="margin-bottom: 5px;">
                <i class="fa fa-filter"></i>
                {% set title = title or h.get_facet_title(facet) %}
                {{ title }}
            </h2>
            <nav>
                <select name="{{ facet }}" id="{{ facet }}-filter" data-module="autocomplete" multiple data-placeholder="Enter {{ title }}">
                    {% with items = items or h.get_facet_dashboard_items_dict(facet) %}
                    {% for item in items %}
                    {% set href = h.remove_url_dashboard_param(facet, item.name, extras=extras,
                    alternative_url=alternative_url) if item.active else
                    h.add_url_dashboard_param(new_params={facet: item.name}, extras=extras,
                    alternative_url=alternative_url) %}
                    {% set label = label_function(item) if label_function else item.display_name %}
                    {% set label_truncated = h.truncate(label, 22) if not label_function else label
                    %}
                    {% set count = count_label(item['count']) if count_label else ('%d' %
                    item['count']) %}
                    {% if facet.title %}
                    <option value="{{ href }}" {% if item.active %} selected="selected" {% endif %}>
                        {{ item.display_name }}
                        <span>&#10145;</span>
                        <span >{{ count }}</span>
                    </option>
                    {% endif %}
                    {% endfor %}
                    {% endwith %}
                </select>
            </nav>
        </section>
        {% endif %}
    {% endfor %}
{% endblock %}
