{% resource 'knowledgehub/chart' %}
{% resource 'knowledgehub/table' %}
{% resource 'knowledgehub/map' %}
{% resource 'knowledgehub/javascript/modules/download_dashboard_as_image.js' %}
{% resource 'knowledgehub/vendor/canvas2image.js' %}
{% resource 'knowledgehub/vendor/html2canvas.js' %}
{% resource 'knowledgehub/javascript/related_dashboard_scroll.js' %}
{% resource 'knowledgehub/javascript/favourite_dashboard.js' %}

{% extends 'page.html' %}

{# {% block header %}
    {% if dashboard.type == 'internal' %}
        {{ super() }}
    {% endif %}
{% endblock %} #}

{% block header %}
    {{ super() }}
{% endblock %}

{% block footer %}
    {% if dashboard.type == 'internal' %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block content %}
<div role="main">
    <div class="container-fluid" id="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="toolbar">
                    {% block breadcrumb %}
                    <ol class="breadcrumb">
                        {% snippet 'snippets/home_breadcrumb_item.html' %}
                        <li>{{ h.nav_link(_('Dashboards'), named_route='dashboards.index') }}</li>
                        <li>{% link_for _(dashboard.title)|truncate(30), named_route='dashboards.view', name=dashboard.name %}
                        </li>
                    </ol>
                    {% endblock %}
                    {# <a class="btn btn-warning pull-right"
                       href="{{ h.url_for('news.new', entity_type='dashboard', entity_ref=dashboard.id)}}">
                        <i class="fa fa-share-square"></i>
                        {{ _('Post to news feed') }}
                    </a> #}
                    <section
                            class="additional-info dashboard-info"
                            style="margin-left: 32% !important;"
                    >
                    <div style="height: 80px;
                            overflow-y:auto;
                            width: auto;
                            overflow-x: clip;">
                        <div class="div-information-table"
                             style="display: flex;">
                             <div class="div-table-row"
                                  style="margin-top: 12px">
                                <div class="div-table-col"
                                     style="width: 120px"><b>{{ _('Creator') }}</b></div>
                                <div class="div-table-col"
                                     style="width: 120px; word-wrap: break-word;">{{
                                    creator_user_name if creator_user_name else None }}</div>
                             </div>
                            <div class="div-table-row" style="margin-top: 12px">
                                  <div class="div-table-col"
                                  style="width: 120px"><b>{{ _('Created Date') }}</b>
                                  </div>
                                  <div class="div-table-col"
                                       style="width: 120px; word-wrap: break-word;">{{ dashboard.created_at if dashboard.created_at else None }}</div>
                            </div>
                            <div class="div-table-row" style="margin-top: 12px">
                                <div class="div-table-col"
                                style="width: 120px"><b>{{ _('Tags') }}</b></div>
                                <div class="div-table-col"
                                     style="width: 120px; word-wrap: break-word;">{{ dashboard.tags if dashboard.tags else None }}</div>
                           </div>
                            <div class="div-table-row" style="margin-top: 12px">
                                <div class="div-table-col"
                                style="width: 120px"><b>{{ _('Datasets') }}</b></div>
                                <div class="div-table-col"
                                     style="width: 120px; word-wrap: break-word;">{{ dashboard.datasets if dashboard.datasets else None }}</div>
                           </div>
                            <div class="div-table-row" style="margin-top: 12px">
                                <div class="div-table-col"
                                style="width: 155px"><b>{{ _('Shared
                                    Functional Units') }}</b></div>
                                <div class="div-table-col"
                                     style="width: 210px; word-wrap: break-word;">{{
                                    dashboard.shared_with_organizations if dashboard.shared_with_organizations else None }}</div>
                           </div>
                         </div>
                        </div>

                    </section>

                </div>
            </div>
            <div class="col-lg-1">
                    {% set current_login_user = c.userobj.id if c and c.userobj else '' %}
                    {% set favourited_by_users_list = dashboard.favourited_by_users.split(',') if dashboard.favourited_by_users else []%}
                    <div class="dashboard-fav-click" id="{{ dashboard.id }}-fav-click">
                        <span id="{{ dashboard.id }}"
                            {% if current_login_user and current_login_user in favourited_by_users_list %}
                                class="fa fa-star"
                            {% else %}
                                class="fa fa-star-o"
                            {% endif %}
                        >
                         </span>
                        <div class="dashboard-fav-ring"></div>
                        <div class="dashboard-fav-ring2"></div>
                        <p class="dashboard-fav-info" id="{{ dashboard.id }}-fav-info">Added to favourites!</p>
                    </div>
            </div>
        </div>
        <div class="row dashboard-row-wrapper">
            <div class="col-sm-12 col-md-12 col-lg-12 dashboard-content">
                {% if dashboard.type == 'internal' %}
                <!--Changes here or chart_module  flexbox flex-wrap?-->
                <div class="row dashboard-section">
                    {% for indicator in dashboard.indicators %}
                    {% if indicator.size == 'small' %}
                    {% set width = '450px;' %}
                    {% set height = '450px;' %}
                    {% elif indicator.size == 'medium' %}
                    {% set width = '900px;' %}
                    {% set height = '450px;' %}
                    {% elif indicator.size == 'large' %}
                    {% set width = '900px;' %}
                    {% set height = '900px;' %}
                    {% endif %}
                    <div class="viz-view-item col-lg-6 col-sm-12"
                        style="max-width: {{ width or 'initial' }}; height: {{ height or 'initial' }};">
                        {% if indicator.get('resource_view_error')%}
                        <div class="alert alert-danger" role="alert">
                            {{indicator.get('resource_view_error')}}
                        </div>
                        {% else %}
                        {% set resource_view = indicator.resource_view %}
                        {% if resource_view.view_type == 'chart' %}
                        {% if resource_view and resource_view.__extras %}
                        {% set colors = resource_view.__extras.color %}
                        {% set x_axis = resource_view.__extras.x_axis %}
                        {% set y_axis = resource_view.__extras.y_axis %}
                        {% set additional_tornado_value = resource_view.__extras.additional_tornado_value %}
                        {% set chart_type = resource_view.__extras.type %}
                        {% set title = resource_view.title %}
                        {% set chart_subtitle = resource_view.__extras.chart_subtitle %}
                        {% set chart_description = resource_view.__extras.chart_description %}
                        {% set show_legend = resource_view.__extras.show_legend %}
                        {% set x_text_rotate = resource_view.__extras.x_text_rotate %}
                        {% set x_text_multiline = resource_view.__extras.x_text_multiline %}
                        {% set tooltip_name = resource_view.__extras.tooltip_name %}
                        {% set data_format = resource_view.__extras.data_format %}
                        {% set y_tick_format = resource_view.__extras.y_tick_format %}
                        {% set chart_padding_left = resource_view.__extras.chart_padding_left %}
                        {% set chart_padding_bottom = resource_view.__extras.chart_padding_bottom %}
                        {% set padding_bottom = resource_view.__extras.padding_bottom %}
                        {% set padding_top = resource_view.__extras.padding_top %}
                        {% set tick_count = resource_view.__extras.tick_count %}
                        {% set show_labels = resource_view.__extras.show_labels %}
                        {% set y_label = resource_view.__extras.y_label %}
                        {% set y_from_zero = resource_view.__extras.y_from_zero %}
                        {% set data_sort = resource_view.__extras.sort %}
                        {% set filters = resource_view.__extras.filters %}
                        {% set category_name = resource_view.__extras.category_name %}
                        {% set dynamic_reference_type = resource_view.__extras.dynamic_reference_type %}
                        {% set dynamic_reference_factor = resource_view.__extras.dynamic_reference_factor %}
                        {% set dynamic_reference_label = resource_view.__extras.dynamic_reference_label %}
                        {% set sql_string = resource_view.__extras.sql_string %}
                        {% endif %}
                        {% snippet 'ajax_snippets/chart_module.html',
                                        type='chart',
                                        colors=colors,
                                        x_axis=x_axis,
                                        y_axis=y_axis,
                                        additional_tornado_value = additional_tornado_value,
                                        chart_type=chart_type,
                                        sql_string=sql_string,
                                        title=title,
                                        chart_subtitle=chart_subtitle,
                                        chart_description=chart_description,
                                        show_legend = show_legend,
                                        x_text_rotate= x_text_rotate,
                                        x_text_multiline= x_text_multiline,
                                        tooltip_name = tooltip_name,
                                        data_format = data_format,
                                        y_tick_format = y_tick_format,
                                        chart_padding_left = chart_padding_left,
                                        chart_padding_bottom = chart_padding_bottom,
                                        padding_bottom = padding_bottom,
                                        padding_top = padding_top,
                                        tick_count = tick_count,
                                        show_labels = show_labels,
                                        y_label = y_label,
                                        y_from_zero = y_from_zero,
                                        data_sort = data_sort,
                                        filters = filters,
                                        category_name=category_name,
                                        measure_label=measure_label,
                                        dynamic_reference_type=dynamic_reference_type,
                                        dynamic_reference_factor=dynamic_reference_factor,
                                        dynamic_reference_label=dynamic_reference_label,
                                        width=width,
                                        height=height %}

                        {% elif resource_view.view_type == 'table'  %}

                        {% if resource_view and resource_view.__extras %}
                        {% set main_value = resource_view.__extras.main_value %}
                        {% set y_axis = resource_view.__extras.y_axis %}
                        {% set sql_string = resource_view.__extras.sql_string %}
                        {% set category_name = resource_view.__extras.category_name %}
                        {% set data_format = resource_view.__extras.data_format %}
                        {% set data_type = resource_view.__extras.data_type %}
                        {% set table_title = resource_view.title %}
                        {% set table_subtitle = resource_view.__extras.table_subtitle %}
                        {% set table_description = resource_view.__extras.table_description %}
                        {% set resource_name = resource_view.__extras.resource_name %}
                        {% set resource_id = resource_view.id %}
                        {% endif %}
                        {% snippet 'ajax_snippets/table_module.html',
                                        sql_string = sql_string,
                                        resource_id = resource_id,
                                        resource_name = resource_name,
                                        y_axis = y_axis,
                                        main_value = main_value,
                                        category_name = category_name,
                                        data_format = data_format,
                                        data_type = data_type,
                                        table_subtitle = table_subtitle,
                                        table_description = table_description,
                                        table_title = table_title %}

                        {% elif resource_view.view_type == 'map'  %}
                        {% set map_config = h.knowledgehub_get_map_config() %}
                        {% if resource_view and resource_view.__extras %}
                        {% set map_subtitle=resource_view.__extras.map_subtitle %}
                        {% set map_description=resource_view.__extras.map_description %}
                        {% set map_resource=resource_view.__extras.map_resource %}
                        {% set map_key_field=resource_view.__extras.map_key_field %}
                        {% set data_key_field=resource_view.__extras.data_key_field %}
                        {% set data_value_field=resource_view.__extras.data_value_field %}
                        {% set sql_string=resource_view.__extras.sql_string %}
                        {% set map_title = resource_view.title %}
                        {% endif %}
                        {% snippet 'ajax_snippets/map_module.html',
                                        map_title=map_title,
                                        map_subtitle=map_subtitle,
                                        map_description=map_description,
                                        map_config=map_config,
                                        map_resource=map_resource,
                                        width=width,
                                        height=height,
                                        map_key_field=map_key_field,
                                        data_key_field=data_key_field,
                                        data_value_field=data_value_field,
                                        sql_string=sql_string %}
                        {% endif %}
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        {% set research_questions = h.dashboard_research_questions(context, dashboard)%}
                        {% if research_questions %}
                        {% snippet 'dashboard/snippets/research_questions.html', questions=research_questions %}
                        {% endif%}
                        <div id="screenshot-button">
                            <button class="btn btn-default download-dashboard-btn html2canvas-ignore pull-right"
                                data-module="download-dashboard-as-image">
                                <span class="fa fa-download"></span>{{ _('Download screenshot') }}
                            </button>
                        </div>
                    </div>
                </div>
                <div>

                </div>
                {% elif dashboard.type == 'external' %}
                    <!--<iframe src="{{ dashboard.source }}" frameborder="0" class="dashboard-view-iframe"></iframe>-->
                    <iframe src="{{ dashboard.source }}"  style="width: 100%; height: 800px; overflow: hidden; border: 0;" ></iframe>
                    <div class="col-md-12 col-sm-12 col-lg-12" >
                        {% set research_questions = h.dashboard_research_questions(context, dashboard)%}
                        {% if research_questions %}
                            {% snippet 'dashboard/snippets/research_questions.html', questions=research_questions %}
                        {% endif%}
                    </div>
                {% else %}
                    {{ 'Dashboard type not supported.' }}
                {% endif %}
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 dashboard-comments">
                <h4 class="text-uppercase">{{ _('Comments') }} <i class="fa fa-comments-o"></i> {{ h.get_comments_count(dashboard.id) }}</h4>
                {% snippet 'snippets/comments.html', user=c.userobj, ref=dashboard.id, enable_multilevel_replies=False, ref_type='dashboard' %}
            </div>
        </div>
        <input type="hidden" id="dashboard-id" value="{{ dashboard.id }}">
        <input type="hidden" id="dashboard-tags" value="{{ dashboard.tags if dashboard.tags else '' }}">
        <input type="hidden" id="dashboard-datasets" value="{{ dashboard.shared_datasets_id if dashboard.shared_datasets_id else '' }}">
        <input type="hidden" id="dashboard-shared_with_organizations" value="{{ dashboard.shared_organizations_id if dashboard.shared_organizations_id else '' }}">
        <div class="row">
            <div class="dashboard-scroll-container">
                <div id="slide-left-container">
                  <div class="slide-left">
                  </div>
                </div>
                <div id="dashboard-cards-container">
                  <div class="dashboard-cards" id="dashboard-cards">

                  </div>
                </div>
                <div id="slide-right-container">
                  <div class="slide-right">
                  </div>
                </div>
            </div>
          </div>
    </div>
</div>
{% endblock %}
