{# Preview an item in the post.
    :param post: the post data as dict
#}
{% set post_content_class = post.entity_type or 'empty' %}
<ul class="newsfeed-list list-unstyled">
  <li class="newsfeed-item">
    <div class="newsfeed-content post-content-{{post_content_class}}">
      {% if post.entity_type == 'dataset' %}
      <ul class="list-unstyled newsfeed-list">
        {% snippet 'snippets/package_item.html',
            package=post.dataset,
            item_class='dataset-newsfeed-item',
            hide_resources=True,
            banner=False,
            truncate=False,
            truncate_title=False %}
      </ul>
      {% elif post.entity_type == 'dashboard' %}
      <ul class="list-unstyled newsfeed-list">
        {% snippet "dashboard/snippets/dashboard_item.html",
              dashboard=post.dashboard,
              position=0 %}
      </ul>
      {% elif post.entity_type == 'research_question' %}
      <div class="list-unstyled research-question-newsfeed-list">
        {% snippet "news/snippets/research_question_item.html",
            rq=post.research_question %}
      </div>
      {% elif post.entity_type == 'visualization' %}
      {% snippet 'news/snippets/visualization.html',
             resource_view=post.visualization %}
      {% endif %}
    </div>

  </li>
</ul>
