{# Renders a single newsd post.
  :param post: the post data as dict.
  #}
{% resource 'knowledgehub/likes' %}
{% set show_delete_action = allow_delete if not none else False %}
{% set post_type_class = post.entity_type if post.entity_type else 'empty'%}
{% set show_comments = show_comments if not none else False%}
<div class="row newsfeed-space newsfeed-wrapper newsfeed-post-{{post_type_class}}">
  <div class="col-lg-8 col-md-12 newsfeed-background newsfeed-post">
    {% set user = g.userobj %}
    {% if show_delete_action and ((post.author and post.author.id == user.id) or user.sysadmin) %}
    <button class="btn btn-danger pull-right" data-module="confirm-action"
      data-module-content="{{ _('Are you sure you want to delete this post?') }}"
      href="{{ h.url_for('news.delete', id=post.id)}}">
      <i class="fa fa-trash strong"></i></button>
    {% endif %}
    <h4><a href="{{ h.url_for('news.view', id=post.id) }}">{{post.title|safe}}</a></h4>
    {% if post.author %}
    <div class="row post-info">
      <div class="col-lg-8 col-md-12">
        <div class="author-avatar pull-left">
          {{ h.gravatar(post.author.email_hash, size=48) }}
        </div>
        <div class="author-info">
          {{post.author.name}}
          <p class="small">
            {{h.human_elapsed_time(post.created_at)}}
          </p>
        </div>
      </div>
    </div>
    {% endif %}
    {% if post.entity_type and post.entity_ref %}
      {% if post.get('entity_deleted') or post.get('entity_error')%}
      <div class="newsfeed-box row">
        <ul class="newsfeed-list list-unstyled">
          <li class="">
            <div class="alert alert-danger">
              <i class="fa fa-minus-circle"></i>
              {% if post.get('entity_deleted') %}
              {{ _('Related {} was deleted.'.format(post.entity_type)) }}
              {% else %}
              {{ _('An error occured while displaying this content.') }}
              {% endif %}
            </div>
          </li>
        </ul>
      </div>
      {% else %}
        <div class="newsfeed-box row">
          {% snippet 'news/snippets/entity_preview.html', post=post %}
        </div>
      {% endif %}
    {% endif %}
    <p>{{h.render_markdown(post.description)}}</p>
    <div>
      <button class="likes-action {% if post.user_liked %} likes-active {% endif %}"
              like-ref="{{post.id}}"
              liked="{{post.user_liked}}"><i class="fa fa-thumbs-o-up"></i> <span class="likes-count">{{post.like_count}}</span></button>
      <span><i class="fa fa-comments-o"></i> {{h.get_comments_count(post.id)}}</span>
      <div class="like-action-error"></div>
    </div>
  </div>
  {% if show_comments %}
  <div class="post-comments col-md-8">
    {% snippet 'snippets/comments.html', user=user, ref=post.id, enable_multilevel_replies=False %}
  </div>
  {% endif %}
</div>
