{# Render single visualiztion item.

    :param resource_view: the resource view with the visualization.
    #}
{% resource 'knowledgehub/chart' %}
<div class="visualization-wrapper">
    <div class="row justify-content-md-center resource-view">
        <div class="col-lg-3">
            {% if resource_view.view_type == 'chart' %}
            {% set chart_id = resource_view.id %}
            {% if resource_view.__extras %}
            {% set colors = resource_view.__extras.color %}
            {% set x_axis = resource_view.__extras.x_axis %}
            {% set y_axis = resource_view.__extras.y_axis %}
            {% set additional_tornado_value = resource_view.__extras.additional_tornado_value %}
            {% set chart_type = resource_view.__extras.type %}
            {% set title = resource_view.title %}
            {% set chart_subtitle = resource_view.__extras.chart_subtitle %}
            {% set chart_description = resource_view.__extras.chart_description %}
            {% set show_legend = resource_view.__extras.show_legend %}
            {% set x_text_rotate = resource_view.__extras.x_text_rotate %}
            {% set x_text_multiline = resource_view.__extras.x_text_multiline %}
            {% set tooltip_name = resource_view.__extras.tooltip_name %}
            {% set data_format = resource_view.__extras.data_format %}
            {% set y_tick_format = resource_view.__extras.y_tick_format %}
            {% set chart_padding_left = resource_view.__extras.chart_padding_left %}
            {% set chart_padding_bottom = resource_view.__extras.chart_padding_bottom %}
            {% set padding_bottom = resource_view.__extras.padding_bottom %}
            {% set padding_top = resource_view.__extras.padding_top %}
            {% set tick_count = resource_view.__extras.tick_count %}
            {% set show_labels = resource_view.__extras.show_labels %}
            {% set y_label = resource_view.__extras.y_label %}
            {% set y_from_zero = resource_view.__extras.y_from_zero %}
            {% set data_sort = resource_view.__extras.sort %}
            {% set filters = resource_view.__extras.filters %}
            {% set category_name = resource_view.__extras.category_name %}
            {% set dynamic_reference_type = resource_view.__extras.dynamic_reference_type %}
            {% set dynamic_reference_factor = resource_view.__extras.dynamic_reference_factor %}
            {% set dynamic_reference_label = resource_view.__extras.dynamic_reference_label %}
            {% set sql_string = resource_view.__extras.sql_string %}
            {% endif %}
            {% snippet 'ajax_snippets/chart_module.html',
                        type='chart',
                        chart_id = chart_id,
                        colors=colors,
                        x_axis=x_axis,
                        y_axis=y_axis,
                        additional_tornado_value = additional_tornado_value,
                        chart_type=chart_type,
                        sql_string=sql_string,
                        title=title,
                        chart_subtitle=chart_subtitle,
                        chart_description=chart_description,
                        show_legend = show_legend,
                        x_text_rotate= 0,
                        x_text_multiline= x_text_multiline,
                        tooltip_name = tooltip_name,
                        data_format = data_format,
                        y_tick_format = y_tick_format,
                        chart_padding_left = chart_padding_left,
                        chart_padding_bottom = chart_padding_bottom,
                        padding_bottom = padding_bottom,
                        padding_top = padding_top,
                        tick_count = tick_count,
                        show_labels = show_labels,
                        y_label = y_label,
                        y_from_zero = y_from_zero,
                        data_sort = data_sort,
                        filters = filters,
                        category_name=category_name,
                        measure_label=measure_label,
                        dynamic_reference_type=dynamic_reference_type,
                        dynamic_reference_factor=dynamic_reference_factor,
                        dynamic_reference_label=dynamic_reference_label
                    %}
            {% endif %}
        </div>
    </div>
</div>