{% resource 'knowledgehub/table' %}
{% resource 'knowledgehub/javascript/modules/data_transformation.js' %}
{% resource 'knowledgehub/javascript/rqs_selection.js' %}

{% import 'macros/form.html' as form %}

{% if data %}
{% set table = data.__extras or {} %}
{% set filters = data.__extras.filters or [] %}
{% set default_sql_string = data.__extras.sql_string or [] %}
{% else %}
{% set table = {} %}
{% set filters = [] %}
{% endif %}

{% snippet 'snippets/data_transformation.html', res=res, filters=filters, default_sql_string=default_sql_string %}


<div id="table_item" class="item table_item visualization-fields-section">
  <div class="item-wrapper">
    {% set table_id = h.get_uuid() %}
    <div class="accordion" id="accordion_{{ table_id }}">
      {# General #}
      <div class="accordion-group">
        <div class="accordion-heading accordion-opened">
          <a href="#accordion_{{ table_id }}_general" class="accordion-toggle" data-toggle="collapse"
            data-parent="#accordion_{{ table_id }}"><i class="fa fa-list-ul"></i>
            {{ _('General') }}
          </a>
        </div>
        <div id="accordion_{{ table_id }}_general" class="accordion-body collapse in">
          <div class="accordion-inner">


            {% if data %}
            {% set table_title = data.title %}
            {% endif %}
            <div class="control-group ">
              <label class="control-label" for="table_field_title">{{ _('Title') }}</label>
              <div class="controls input-controls">
                <input class="inputs" id="table_field_title" name="table_field_title" value="{{ table_title }}"
                  placeholder="{{ _('Table title') }}" type="text" required>
              </div>
            </div>

            <div class="control-group title">
              <label class="control-label" for="table_field_subtitle">{{ _('Subtitle') }}</label>
              <div class="controls input-controls">
                <input class="inputs" id="table_field_subtitle" type="text" name="table_field_subtitle"
                  value="{{ table.table_subtitle }}" placeholder="{{ _('Table subtitle') }}" maxlength="100"
                  required="required">
              </div>
            </div>

            <div class="control-group title">
              <label class="control-label" for="table_field_description">{{ _('Description') }}</label>
              <div class="controls input-controls">
                <textarea class="inputs" id="table_field_description" type="text" name="table_field_description"
                  value="{{ table.table_description }}" placeholder="{{ _('Table description') }}" maxlength="100"
                  required="required">{{ table.table_description }}</textarea>

              </div>
            </div>

            {# Measure, Y values #}
            {% set y_axis_values = h.get_resource_numeric_columns(res['id']) %}
            <div class="control-group control-select">
              <label class="control-label" for="table_field_y_axis_column">{{ _('Measure') }}</label>
              <div class="controls input-controls">
                <select id="table_field_y_axis_column" name="table_field_y_axis_column">
                  {% for y_value in y_axis_values %}
                  <option value="{{y_value}}" {% if table %}{{ 'selected' if y_value == table.y_axis }}{% endif %}>
                    {{y_value}}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# Dimension, X values #}
            {% set columns = h.get_resource_columns(res['id'], []) %}
            <div class="control-group control-select">
              <label class="control-label" for="table_main_value">{{ _('Dimension') }}</label>
              <div class="controls input-controls">
                <select id="table_main_value" name="table_main_value">
                  {% for column in columns %}
                  <option value="{{column}}" {% if table %}{{ 'selected' if column == table.main_value }}{% endif %}>
                    {{column}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# Category values #}
            <div class="control-group control-select">
              <label class="control-label" for="table_category_name">{{ _('Category') }}</label>
              <div class="controls input-controls">
                <select id="table_category_name" name="table_category_name">
                  <option value="">&mdash; {{ _('Select column') }} &mdash;</option>
                  {% for category in columns %}
                  <option value="{{category}}"
                    {% if table %}{{ 'selected' if category == table.category_name }}{% endif %}>{{category}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>


            {% set data_formats = h.get_data_formats() %}
            <div class="control-group control-select">
              <label class="control-label" for="table_data_format">{{ _('Data format') }}</label>
              <div class="controls input-controls">
                <select id="table_data_format" name="table_data_format">
                  {% for format in data_formats %}
                  <option value="{{ format.value }}"
                    {% if table %}{{ 'selected' if format.value == table.data_format }}{% endif %}>{{ format.text }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {# Y operation #}
            <div class="control-group control-select">
              <label class="control-label" for="table_y_axis_operation">{{ _('Y Axis Operation') }}</label>
              <div class="controls input-controls">
                <select id="table_y_axis_operation" name="table_y_axis_operation">
                  <option value="MAX"> MAX </option>
                  <option value="SUM"> SUM </option>
                </select>
              </div>
            </div>

            {# RQs List #}
            {% set dict = {} %}
            {% for k in h.get_rq_options(context) %}
              {% if table %}
                {% if table.research_questions is iterable and table.research_questions is not string %}
                  {% for m in table.research_questions %}
                    {% if k.text == m %}
                      {% set new_item = dict.__setitem__(k.text, "True") %}
                    {% endif %}
                  {% endfor %}
                {% else %}
                  {% if table.research_questions == k.text %}
                    {% set new_item = dict.__setitem__(k.text, "True") %}
                  {% endif %}
                {% endif %}
                  {% if not dict[k.text] %}
                    {% set new_item = dict.__setitem__(k.text, "False") %}
                  {% endif %}

              {% else %}
                {% set new_item = dict.__setitem__(k.text, "False") %}
              {% endif %}
            {% endfor %}

            <div class="rs-questions">
              <label class="control-label" for="table_research_questions">{{_('Research Questions')}}</label>
              <select name="table_research_questions" id="table_research_questions" multiple="multiple">                      
                {% for k,v in dict.items() %}
                  <option value="{{ k }}"
                  {% if table %} {{ 'selected' if v == 'True'}} {% endif %}>{{ k }}</option>
                {% endfor %}
              </select>

              {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
              {{ form.input('tags', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tags, classes=['control-full'], attrs=tag_attrs) }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <input id="resource_name" type="text" name="resource_name" value="{{ res['name'] }}" class="hidden">

    {% if table %}
    {% set main_value = table.main_value %}
    {% set y_axis = table.y_axis %}
    {% set category_name = table.category_name %}
    {% set data_format = table.data_format %}
    {% set y_operation = table.y_operation %}
    {% set table_title = data.title %}
    {% set table_subtitle = table.table_subtitle %}
    {% set table_description = table.table_description %}
    {% endif %}
    <div class="preview-wrapper">
      {% snippet 'ajax_snippets/table_module.html',
      sql_string = sql_string,
      resource_id = res['id'],
      resource_name = res['name'],
      y_axis = y_axis,
      main_value = main_value,
      category_name = category_name,
      data_format = data_format,
      y_operation = y_operation,
      table_title = table_title,
      table_subtitle = table_subtitle,
      table_description = table_description %}
    </div>
    <ul class="inline text-right table-actions">
      <li class="list-unstyled"><a class="btn  btn-default update-table-btn"><span class="fa fa-refresh"
            aria-hidden="true"></span> {{ _('Update') }}</a></li>
    </ul>
    <span class="grippy"></span>
  </div>
