<section class="additional-info">
    <h3>{{ _('Additional Info') }}</h3>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th scope="col">{{ _('Field') }}</th>
                <th scope="col">{{ _('Value') }}</th>
            </tr>
        </thead>
        <tbody>
            {% if theme.get('title', None) %}
            <tr>
                <th scope="row" class="dataset-label">{{ _("Theme") }}</th>
                <td class="dataset-details">{{ theme['title'] }}</td>
            </tr>
            {% endif %}

            {% if created_by.get('fullname', None) %}
            <tr>
                <th scope="row" class="dataset-label">{{ _("Created by") }}</th>
                <td class="dataset-details">{{ created_by['fullname'] }}</td>
            </tr>
            {% endif %}

            {% if sub_theme.get('created_at', None) %}
            <tr>
                <th scope="row" class="dataset-label">{{ _("Created at") }}</th>
                <td class="dataset-details">{{ h.render_datetime(sub_theme['created_at'], with_hours=True) }}</td>
            </tr>
            {% endif %}

            {% if modified_by.get('fullname', None) %}
            <tr>
                <th scope="row" class="dataset-label">{{ _("Modified by") }}</th>
                <td class="dataset-details">{{ modified_by['fullname'] }}</td>
            </tr>
            {% endif %}

            {% if sub_theme.get('modified_at', None) %}
            <tr>
                <th scope="row" class="dataset-label">{{ _("Modified at") }}</th>
                <td class="dataset-details">{{ h.render_datetime(sub_theme['modified_at'], with_hours=True) }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</section>