<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What are Sub-Themes?') }}
    </h2>
    <div class="module-content">
        <p>
            {% trans %}
            Sub-themes are entities, linked with themes. They address a more specific part of the linked theme and are relevant to understanding the overall view of the situation.
            {% endtrans %}
        </p>
    </div>
</div>