{% ckan_extends %}
{{ super() }}

{% block breadcrumb_content %}
  <li>{% link_for _('Joint Analysis'), controller='group', action='index', named_route=group_type + '_index' %}</li>
  {% block breadcrumb_content_inner %}
    <li>{% link_for group.display_name|truncate(35), controller='group', action='read', id=group.name, named_route=group_type + '_read' %}</li>
    <li class="active">{% link_for _('Manage'), controller='group', action='edit', id=group.name, named_route=group_type + '_edit' %}</li>
  {% endblock %}
{% endblock %}