{% ckan_extends %}
{{ super() }}

{% block breadcrumb_content %}
  <li>{% link_for _('Joint Analysis'), controller='group', action='index' %}</li>
  {% block breadcrumb_content_inner %}
    <li>{% link_for group.display_name|truncate(35), controller='group', action='read', id=group.name %}</li>
    <li class="active">{% link_for _('Edit'), controller='group', action='edit', id=group.name %}</li>
  {% endblock %}
{% endblock %}