{% extends "news/base_page.html" %}

{% block subtitle %}{{ _('Create a post') }}{% endblock %}

{% block posts_search_form %}{% endblock%}

{% block primary_content_inner %}
  <div class="container-fluid">
    <h3>{{_('Share your post to the news feed')}}</h3>
    {% snippet 'news/snippets/post_form.html', data=data, errors=errors %}
  </div>
{% endblock %}