<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What are Analytical Frameworks?') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
          Analytical Frameworks are ...
        {% endtrans %}
      </p>
    </div>
  </div>