{% resource 'knowledgehub/chart' %}
{% resource 'knowledgehub/javascript/modules/data_transformation.js' %}
{% resource 'knowledgehub/javascript/rqs_selection.js' %}

{% import 'macros/form.html' as form %}

{% if data %}
{% set chart = data.__extras or {} %}
{% set filters = data.__extras.filters or [] %}
{% set default_sql_string = data.__extras.sql_string or [] %}
{% else %}
{% set chart = {} %}
{% set filters = [] %}
{% endif %}

{% snippet 'snippets/data_transformation.html', res=res, filters=filters, default_sql_string=default_sql_string %}

<div id="chart_field" class="item chart_field visualization-fields-section">
  {% set chart_types = h.get_chart_types() %}
  <div class="item-wrapper">
    {% set chart_id = h.get_uuid() %}
    <div class="accordion" id="accordion_{{ chart_id }}">

      {# General #}
      <div class="accordion-group">
        <div class="accordion-heading accordion-opened">
          <a href="#accordion_{{ chart_id }}_general" class="accordion-toggle" data-toggle="collapse"
            data-parent="#accordion_{{ chart_id }}"><i class="fa fa-list-ul"></i>
            {{ _('General') }}
          </a>
        </div>
        <div id="accordion_{{ chart_id }}_general" class="accordion-body collapse in">
          <div class="accordion-inner">

            {# Title #}
            {% if data %}
            {% set chart_title = data.title %}
            {% endif %}
            <div class="control-group title">
              <label class="control-label" for="chart_field_title">{{ _('Title') }}</label>
              <div class="controls input-controls">
                <input class="inputs" id="chart_field_title" type="text" name="chart_field_title"
                  value="{{ chart_title }}" placeholder="{{ _('Chart title') }}" required="required">
              </div>
            </div>

            <div class="control-group title">
              <label class="control-label" for="chart_field_subtitle">{{ _('Subtitle') }}</label>
              <div class="controls input-controls">
                <input class="inputs" id="chart_field_subtitle" type="text" name="chart_field_subtitle"
                  value="{{ chart.chart_subtitle }}" placeholder="{{ _('Chart subtitle') }}" maxlength="100"
                  required="required">
              </div>
            </div>
            <div class="control-group title">
              <label class="control-label" for="chart_field_description">{{ _('Description') }}</label>
              <div class="controls input-controls">
                <textarea class="inputs" id="chart_field_description" type="text" name="chart_field_description"
                  value="{{ chart.chart_description }}" placeholder="{{ _('Chart description') }}" maxlength="100"
                  required="required"> {{ chart.chart_description }}</textarea>
              </div>
            </div>

            {# Type #}
            <div class="control-group control-select">
              <label class="control-label" for="chart_field_type_label">{{ _('Type') }}</label>
              <div class="controls input-controls">
                <select id="chart_field_type" name="chart_field_type">
                  {% for ch_type in chart_types %}
                  <option value="{{ch_type['value']}}" {% if chart %}{{ 'selected' if ch_type['value'] == chart.type }}
                  {% endif %}>
                    {{ch_type['text']}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>



          
            {# Measure, Y value #}
            {% set y_axis_values = h.get_resource_numeric_columns(res['id']) %}
            <div class="control-group control-select">
              <label class="control-label" for="chart_field_y_axis_column">{{ _('Y axis dimension') }}</label>
              <div class="controls input-controls">
                <select id="chart_field_y_axis_column" name="chart_field_y_axis_column">
                  {% for y_value in y_axis_values %}
                  <option value="{{y_value}}" {% if chart %}{{ 'selected' if y_value == chart.y_axis }}{% endif %}>
                    {{y_value}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# Dimension, X value #}
            {% set x_axis_values = h.get_resource_columns(res['id'], []) %}
            <div class="control-group control-select">
              <label class="control-label" for="chart_field_x_axis_column">{{ _('X axis dimension') }}</label>
              <div class="controls input-controls">
                <select id="chart_field_x_axis_column" name="chart_field_x_axis_column">
                  {% for column in x_axis_values %}
                  <option value="{{column}}" {% if chart %}{{ 'selected' if column == chart.x_axis }}{% endif %}>
                    {{column}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# Category #}
            <div class="control-group control-select">
              <label class="control-label" for="chart_field_category_name">{{ _('Category') }}</label>
              <div class="controls input-controls">
                <select id="chart_field_category_name" name="chart_field_category_name">
                  <option value="">&mdash; {{ _('Select column') }} &mdash;</option>
                  {% for category in x_axis_values %}
                  <option value="{{ category }}"
                    {% if chart %}{{ 'selected' if category == chart.category_name }}{% endif %}>
                    {{ category }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# Color #}
            {% set color_schemes = h.get_color_scheme() %}
            <div class="control-group control-select">
              <label class="control-label" for="chart_field_color">{{ _('Color') }}</label>
              <div class="controls input-controls">
                <select id="chart_field_color" name="chart_field_color">

                  <optgroup label="Single Color">
                    {% for color in color_schemes %}
                    <option value="{{ color.value }}"
                      {% if chart %}{{ 'selected' if color.value == chart.color }}{% endif %}>{{ color.text }}</option>
                    {% endfor %}
                  </optgroup>

                  <optgroup label="Diverging">
                    {% set color_schemes_diverging = h.get_map_color_scheme() %}
                    {% for color_diverging in color_schemes_diverging %}
                    <option value="{{ color_diverging.value }}"
                      {% if chart %}{{ 'selected' if color_diverging.value == chart.color }}{% endif %}>
                      {{ color_diverging.text }}</option>
                    {% endfor %}
                  </optgroup>

                </select>
              </div>
            </div>

            {# Measure, Additional Tornado Values #}
            {% set additional_tornado_value = h.get_resource_columns(res['id'], []) %}
            <div class="control-group control-select">
              <label class="control-label"
                for="chart_field_additional_tornado_value" id="chart_additional_tornado_label">{{ _('Additional Tornado Value') }}</label>
              <div class="controls input-controls">
                <select id="chart_field_additional_tornado_value" name="chart_field_additional_tornado_value">
                  {% for value in additional_tornado_value %}
                  <option value="{{value}}"
                    {% if chart %}{{ 'selected' if value == chart.additional_tornado_value }}{% endif %}>
                    {{value}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# RQs List #}
            {% set dict = {} %}
            {% for k in h.get_rq_options(context) %}
              {% if chart %}
                {% if chart.research_questions is iterable and chart.research_questions is not string %}
                  {% for m in chart.research_questions %}
                    {% if k.text == m %}
                      {% set new_item = dict.__setitem__(k.text, "True") %}
                    {% endif %}
                  {% endfor %}
                {% else %}
                  {% if chart.research_questions == k.text %}
                    {% set new_item = dict.__setitem__(k.text, "True") %}
                  {% endif %}
                {% endif %}

                {% if not dict[k.text] %}
                  {% set new_item = dict.__setitem__(k.text, "False") %}
                {% endif %}

              {% else %}
                {% set new_item = dict.__setitem__(k.text, "False") %}
              {% endif %}
            {% endfor %}
            <div class="rs-questions">
              <label class="control-label" for="chart_research_questions">{{_('Research Questions')}}</label>
              <select name="chart_research_questions" id="chart_research_questions" multiple="multiple" type="hidden">
                  {% for k,v in dict.items() %}
                  <option value="{{ k }}"
                  {% if chart %} {{ 'selected' if v == 'True'}} {% endif %}>{{ k }}</option>
                {% endfor %}
              </select>

              {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
              {{ form.input('tags', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tags, classes=['control-full'], attrs=tag_attrs) }}
            </div>


          </div>
        </div>
      </div>

      {# X-axis #}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#accordion_{{ chart_id }}_x_axis" class="accordion-toggle" data-toggle="collapse"
            data-parent="#accordion_{{ chart_id }}"><i class="fa fa-list-ul"></i>
            {{ _('X-axis') }}
          </a>
        </div>
        <div id="accordion_{{ chart_id }}_x_axis" class="accordion-body collapse">
          <div class="accordion-inner">

            {# X sorting #}
            {% set sort_options = h.get_chart_sort() %}
            <div id="chart_field_sort_div"
              class="control-group control-select {% if chart and chart.category_name %}hidden{% endif %}">
              <label class="control-label" for="chart_field_sort">{{ _('X axis sorting') }}</label>
              <div class="controls input-controls">
                <select id="chart_field_sort" name="chart_field_sort">
                  {% for sort in sort_options %}
                  <option value="{{ sort.value }}"
                    {% if chart %}{{ 'selected' if sort.value == chart.sort }}{% endif %}>{{ sort.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# X-axis label orientation #}
            {% set text_rotation = h.get_tick_text_rotation() %}
            <div class="control-group control-select">
              <label class="control-label" for="chart_field_x_text_rotate">{{ _('Label orientation') }}</label>
              <div class="controls input-controls">
                <select id="chart_field_x_text_rotate" name="chart_field_x_text_rotate">
                  {% for rotate in text_rotation %}
                  <option value="{{ rotate.value }}"
                    {% if chart %}{{ 'selected' if rotate.value == chart.x_text_rotate }}{% endif %}>{{ rotate.text }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# X-axis label multiline #}
            {% if chart %}
            {% set x_text_multiline = chart.x_text_multiline %}
            {% endif %}
            <div class="control-group control-checkbox justify-content-between ">
              <label class="control-label"
                for="chart_field_x_text_multiline">{{ _('Force label in multiple lines') }}</label>
              <div class="controls">
                <input id="chart_field_x_text_multiline" type="checkbox" name="chart_field_x_text_multiline"
                  value="{{ x_text_multiline }}" {% if x_text_multiline=='false' %}{% else %}checked{% endif %}>
              </div>
            </div>

          </div>
        </div>
      </div>

      {# Y-axis #}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#accordion_{{ chart_id }}_y_axis" class="accordion-toggle" data-toggle="collapse"
            data-parent="#accordion_{{ chart_id }}"><i class="fa fa-list-ul"></i>
            {{ _('Y-axis') }}
          </a>
        </div>
        <div id="accordion_{{ chart_id }}_y_axis" class="accordion-body collapse">
          <div class="accordion-inner">

            {# Y-axis title #}
            {% if chart %}
            {% set y_label = chart.y_label %}
            {% endif %}
            <div class="control-group ">
              <label class="control-label" for="chart_field_y_label">{{ _('Y axis title') }}</label>
              <div class="controls input-controls">
                <input id="chart_field_y_label" type="text" name="chart_field_y_label" value="{{ y_label }}"
                  placeholder="{{ _('Measure by default') }}">
              </div>
            </div>


            {# Y-axis from zero #}
            {% if chart %}
            {% set y_from_zero = chart.y_from_zero %}
            {% endif %}
            <div class="control-group control-checkbox justify-content-between ">
              <label class="control-label" for="chart_field_y_from_zero">{{ _('Start from zero') }}</label>
              <div class="controls">
                <input id="chart_field_y_from_zero" type="checkbox" name="chart_field_y_from_zero"
                  value="{{ y_from_zero }}" {% if y_from_zero=='false' %}{% else %}checked{% endif %}>
              </div>
            </div>

            {# Y-axis label format #}
            {% if chart and chart.tick_count%}
            {% set ticks_formats = h.get_data_formats(5) %}
            {% else %}
            {% set ticks_formats = h.get_data_formats() %}
            {% endif %}
            <div class="control-group control-select">
              <label class="control-label" for="chart_field_y_ticks_format">{{ _('Y axis label format') }}</label>
              <div class="controls input-controls">
                <select id="chart_field_y_ticks_format" name="chart_field_y_ticks_format">
                  {% for tick in ticks_formats %}
                  <option value="{{ tick.value }}"
                    {% if chart %}{{ 'selected' if tick.value == chart.y_tick_format }}{% endif %}>{{ tick.text }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="control-group control-select">
              <label class="control-label" for="chart_field_y_operation">{{ _('Y axis operation') }}</label>
              <div class="controls input-controls">
                <select id="chart_field_y_operation" name="chart_field_y_operation">
                  <option value="MAX">MAX</option>
                  <option value="SUM">SUM</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      {# Additional Options #}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#accordion_{{ chart_id }}_graph" class="accordion-toggle" data-toggle="collapse"
            data-parent="#accordion_{{ chart_id }}"><i class="fa fa-list-ul"></i>
            {{ _('Additional Options') }}
          </a>
        </div>
        <div id="accordion_{{ chart_id }}_graph" class="accordion-body collapse">
          <div class="accordion-inner">


            {# Data format #}
            {% set data_formats = h.get_data_formats() %}
            <div class="control-group control-select">
              <label class="control-label" for="chart_field_data_format">{{ _('Data format') }}</label>
              <div class="controls input-controls">
                <select id="chart_field_data_format" name="chart_field_data_format">
                  {% for format in data_formats %}
                  <option value="{{ format.value }}"
                    {% if chart %}{{ 'selected' if format.value == chart.data_format }}{% endif %}>{{ format.text }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# Show labels #}
            {% if chart %}
            {% set show_labels = chart.show_labels %}
            {% endif %}
            <div class="control-group control-checkbox justify-content-between ">
              <label class="control-label" for="chart_field_labels">{{ _('Show data labels') }}</label>
              <div class="controls">
                <input id="chart_field_labels" type="checkbox" name="chart_field_labels" value="{{ show_labels }}"
                  {% if show_labels=='false' %}{% else %}checked{% endif %}>
              </div>
            </div>

            {# Show legend #}
            {% if chart %}
            {% set show_legend = chart.show_legend %}
            {% endif %}
            <div class="control-group control-checkbox justify-content-between ">
              <label class="control-label" for="chart_field_legend">{{ _('Show legend') }}</label>
              <div class="controls">
                <input id="chart_field_legend" type="checkbox" name="chart_field_legend" value="{{ show_legend }}"
                  {% if show_legend=='false' %}{% else %}checked{% endif %}>
              </div>
            </div>

          </div>
        </div>
      </div>

      {# Dynamic Reference #}
      <div class="accordion-group last">
        <div class="accordion-heading">
          <a href="#accordion_{{ chart_id }}_dynamic_reference" class="accordion-toggle" data-toggle="collapse"
            data-parent="#accordion_{{ chart_id }}"><i class="fa fa-list-ul"></i>
            {{ _('Dynamic Reference') }}
          </a>
        </div>
        <div id="accordion_{{ chart_id }}_dynamic_reference" class="accordion-body collapse">
          <div class="accordion-inner">

            {# Dynamic Reference Type #}
            <div class="control-group ">
              <label class="control-label"
                for="chart_field_dynamic_reference_type">{{ _('Dynamic Reference Type') }}</label>
              <div class="controls chainputrt-controls">
                <select id="chart_field_dynamic_reference_type" name="chart_field_dynamic_reference_type">
                  <option value="">&mdash; {{ _('Select type') }} &mdash;</option>
                  {% for type in ['Maximum', 'Average', 'Minimum'] %}
                  <option value="{{type}}"
                    {% if chart %}{{ 'selected' if type == chart.dynamic_reference_type }}{% endif %}>{{type}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>


            {# Dynamic Reference Factor #}
            {% if chart %}
            {% set dynamic_reference_factor = chart.dynamic_reference_factor %}
            {% endif %}
            <div class="control-group">
              <label class="control-label"
                for="chart_field_dynamic_reference_factor">{{ _('Dynamic Reference Factor') }}</label>
              <div class="controls input-controls">
                <input id="chart_field_dynamic_reference_factor" type="number" min="0" step="0.1"
                  name="chart_field_dynamic_reference_factor" value="{{ dynamic_reference_factor }}" default="1"
                  placeholder="1">
              </div>
            </div>

            {# Dynamic Reference Label #}
            {% if chart %}
            {% set dynamic_reference_label = chart.dynamic_reference_label %}
            {% endif %}
            <div class="control-group">
              <label class="control-label"
                for="chart_field_dynamic_reference_label">{{ _('Dynamic Reference Label') }}</label>
              <div class="controls input-controls">
                <input id="chart_field_dynamic_reference_label" type="text" name="chart_field_dynamic_reference_label"
                  value="{{ dynamic_reference_label }}" placeholder="{{ _('Dynamic Reference') }}">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



    {# Controls #}
    <ul class="inline text-right chart-actions">
      <li class="list-unstyled"><a class="btn  btn-default update-chart-btn"><span class="fa fa-refresh"
            aria-hidden="true"></span> {{ _('Update') }}</a></li>
    </ul>
    <span class="grippy"></span>
    {# Legacy #}
    {% if chart %}
    {% set tooltip_name = chart.tooltip_name %}
    {% endif %}
    <div class="control-group hidden">
      <label class="control-label" for="chart_field_tooltip_name">{{ _('Tooltip name') }}</label>
      <div class="controls input-controls">
        <input id="chart_field_tooltip_name" type="text" name="chart_field_tooltip_name" value="{{ tooltip_name }}"
          placeholder="{{ _('Tooltip name') }}">
      </div>
    </div>
    {% if chart %}
    {% set ptop = chart.padding_top %}
    {% endif %}
    <div class="control-group hidden">
      <label class="control-label" for="chart_field_padding_top">{{ _('Padding top') }}</label>
      <div class="controls input-controls">
        <input id="chart_field_padding_top" type="number" min="0" name="chart_field_padding_top" value="{{ ptop }}"
          placeholder="{{ _('Default') }}">
      </div>
    </div>
    {% if chart %}
    {% set pbtm = chart.padding_bottom %}
    {% endif %}
    <div class="control-group hidden">
      <label class="control-label" for="chart_field_padding_bottom">{{ _('Padding bottom') }}</label>
      <div class="controls input-controls">
        <input id="chart_field_padding_bottom" type="number" min="0" name="chart_field_padding_bottom"
          value="{{ pbtm }}" placeholder="{{ _('Default') }}">
      </div>
    </div>
    {% if chart %}
    {% set tick_count = chart.tick_count %}
    {% endif %}
    <div class="control-group hidden">
      <label class="control-label" for="chart_field_tick_count">{{ _('Y axis tick count') }}</label>
      <div class="controls input-controls">
        <input id="chart_field_tick_count" type="number" min="0" name="chart_field_tick_count" value="{{ tick_count }}"
          placeholder="{{ _('Default') }}">
      </div>
    </div>
    {% if chart %}
    {% set chart_padding_left = chart.chart_padding_left %}
    {% endif %}
    <div class="control-group hidden">
      <label class="control-label" for="chart_field_chart_padding_left">{{ _('Chart Padding left') }}</label>
      <div class="controls input-controls">
        <input id="chart_field_chart_padding_left" type="number" min="0" max="120" name="chart_field_chart_padding_left"
          value="{{ chart_padding_left }}" placeholder="{{ _('Default') }}">
      </div>
    </div>
    {% if chart %}
    {% set chart_padding_bottom = chart.chart_padding_bottom %}
    {% endif %}
    <div class="control-group hidden">
      <label class="control-label" for="chart_field_chart_padding_bottom">{{ _('Chart Padding bottom') }}</label>
      <div class="controls input-controls">
        <input id="chart_field_chart_padding_bottom" type="number" min="0" name="chart_field_chart_padding_bottom"
          value="{{ chart_padding_bottom }}" placeholder="{{ _('Default') }}">
      </div>
    </div>

  </div>
</div>

{% if chart %}
{% set colors = chart.color %}
{% set x_axis = chart.x_axis %}
{% set y_axis = chart.y_axis %}
{% set additional_tornado_value = chart.additional_tornado_value %}
{% set chart_research_questions = data.chart_research_questions %}
{% set chart_type = chart.type %}
{% set title = data.title %}
{% set chart_subtitle = chart.chart_subtitle %}
{% set chart_description = chart.chart_description %}
{% set show_legend = chart.show_legend %}
{% set x_text_rotate = chart.x_text_rotate %}
{% set x_text_multiline = chart.x_text_multiline %}
{% set tooltip_name = chart.tooltip_name %}
{% set data_format = chart.data_format %}
{% set y_operation = chart.y_operation %}
{% set y_tick_format = chart.y_tick_format %}
{% set chart_padding_left = chart.chart_padding_left %}
{% set chart_padding_bottom = chart.chart_padding_bottom %}
{% set padding_bottom = chart.padding_bottom %}
{% set padding_top = chart.padding_top %}
{% set tick_count = chart.tick_count %}
{% set show_labels = chart.show_labels %}
{% set y_label = chart.y_label %}
{% set y_from_zero = chart.y_from_zero %}
{% set data_sort = chart.sort %}
{% set filters = chart.filters %}
{% set category_name = chart.category_name %}
{% set dynamic_reference_type = chart.dynamic_reference_type %}
{% set dynamic_reference_factor = chart.dynamic_reference_factor %}
{% set dynamic_reference_label = chart.dynamic_reference_label %}
{% set data_type = chart.data_type %}
{% set chart_id = chart.id %}
{% endif %}
<div class="preview-wrapper custom-width">
  {% snippet 'ajax_snippets/chart_module.html',
          type = 'chart',
          chart_id = chart_id,
          colors = colors,
          x_axis = x_axis,
          y_axis = y_axis,
          additional_tornado_value = additional_tornado_value,
          chart_research_questions = chart_research_questions,
          chart_type = chart_type,
          sql_string = sql_string,
          title = title,
          chart_subtitle = chart_subtitle,
          chart_description = chart_description,
          show_legend = show_legend,
          x_text_rotate = x_text_rotate,
          x_text_multiline = x_text_multiline,
          tooltip_name = tooltip_name,
          data_format = data_format,
          y_tick_format = y_tick_format,
          y_operation = y_operation,
          chart_padding_left = chart_padding_left,
          chart_padding_bottom = chart_padding_bottom,
          padding_bottom = padding_bottom,
          padding_top = padding_top,
          tick_count = tick_count,
          show_labels = show_labels,
          y_label = y_label,
          y_from_zero = y_from_zero,
          data_sort = data_sort,
          filters = filters,
          category_name = category_name,
          measure_label=measure_label,
          dynamic_reference_type = dynamic_reference_type,
          dynamic_reference_factor = dynamic_reference_factor,
          dynamic_reference_label = dynamic_reference_label,
          data_type = data_type %}
</div>
