.suggest {
	/* position: relative; */
	top: 7px;
	z-index: 30;
	text-align: left;

	> .dropdown-menu {
		margin-top: 15px;
		position: absolute;

		> a.dropdown-item {
			border-top: 1px solid #eeeeee;
			padding: 5px 10px;

			&:first-child { border-top: 0; }

			.mention-entry {
				padding-left: 5px;
				padding-right: 5px;
				display: flex;
				flex-direction: row;
				.mention-image {
					display: block;
					width: 32px;
					height: 32px;
					margin-right: 5px;
				}
				.mention-label {
					flex: 1;
				}
			}
		}
	}
}