//Dashboard
.dashboards {
  >ul {
    &>*:first-child {
      padding-top: 0;

      .dashboard-link {
        padding-top: 0;
      }
    }
  }
}

.nav>li {
  >.dashboard-link {
    padding: 1.5rem 0;

    &:hover {
      background-color: inherit;
    }
  }
}

.dashboard-title-box {
  .flex;
  .justify-content-between;
  .align-items-center;

  .dashboard-manage-icon {
    padding: 1rem;
    font-size: @font-size-base + 2;

    &:hover {
      color: @brand-primary-dark;
    }
  }

  .dashboard-created {
    font-weight: 700;
    font-size: @font-size-base - 2;

    i {
      font-weight: 700;
      color: @gray-base;
      font-size: @font-size-base;
      padding-right: .5rem;
    }
  }
}

.dashboard-view-iframe {
  width: 100%;
  height: 1000px;
}

.internal-dashboard-viz-container {
  display: none;
  margin-top: 50px;
}

.internal-dashboard-viz-dropdown {
  display: none;
}

.internal-dashboard-size-dropdown {
  display: none;
}

.remove-viz-btn-internal-dashboard {
  margin-top: -32px;
}

.dashboard-thumbnail iframe {
  width: 1440px;
  height: 900px;
}

.dashboard-thumbnail {
  position: relative;
  transform: scale(0.235);
  transform-origin: 0 0;
}

.dashboard-thumbnail-container {
  width: calc(1440px * 0.235);
  height: calc(900px * 0.235);
  display: block;
  margin-left: -15px;
  overflow: hidden;
  position: relative;

}

.dashboard-section {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 700px;
  background-color: white;
  margin-left: 0;
  margin-right: 0;

}

.dashboard-wrapper {

  // height: 100%;
  // display: flex;
  // align-content: center;
  // justify-content: center;

  background-color: #fff;
}

// .dashboard-section {
//   max-width: 80%;
//   min-height: 700px;
//   //background-color: #fff;
//   margin: auto;
// }


//Create Dataset
.stages li.active {
  .highlight {
    background: @brand-green;
  }

  &:after {
    border-top-color: @brand-green;
    border-bottom-color: @brand-green;
  }
}

.stages li.complete .highlight {
  background: @brand-green-light;
}

//Side content
.module-heading {
  background-color: @gray-lightest;
  color: @gray-base;
}

.nav-item {
  &>a:hover {
    color: @brand-primary-dark;
  }

  &.active>a {
    background-color: @brand-primary-dark-25;

    &:before {
      border-left-color: @brand-primary-dark-25;
    }

    &:hover {
      background-color: @brand-primary-dark-50;

      &:before {
        border-left-color: @brand-primary-dark-50;
      }
    }
  }
}

.badge {
  background-color: @brand-primary-dark-50;
}

.pill {
  background-color: @brand-primary-dark-50;
  font-weight: 600;

}

//Dataset
.label-inverse {
  background-color: @gray-brand;
}

//NAV CONTROLS
.editor .editor-info-block {
  background: @gray-lighter;
}

.alert-error {
  background-color: @brand-danger-25;
  color: @brand-danger-dark;
}

.viz-view-item {
  margin-top: 30px;
  margin-bottom: 80px;
  //flex: 1 0 450px;
  //flex-grow: 1;
  flex: 1 0 auto;
  min-width: 450px;

  @media only screen and (max-width: 465px) {
    min-width: 300px;

  }

}

// .viz-view-item {
//   float: left;
//   margin-left: 30px;
//   margin-top: 30px;
//   margin-bottom: 80px;
// }

//Tornado Chart Style
.bar--positive {
  fill: #9BCCF5;
}

.bar--negative {
  fill: pink;
}

text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}