.search-box-wrapper {
  background-color: @brand-accent;
  padding: @grid-gutter-width / 3;
}

.search-form {
  h2 {
    .subtitle;
    margin-top: @grid-gutter-width + 10;
    padding: 0;
    border: none;
    font-size: @font-size-h4;
    color: @brand-primary;
  }
}

#dataset-search-form {
  margin: @grid-gutter-width - 10 0 0 0;
  padding: 0;
  border-bottom: none;

  .btn-default.btn-lg {
    padding: 23px;
    border: none;
  }

  #field-order-by {
    border: none;
  }

  #field-giant-search {
    padding: @grid-gutter-width + 5;
    border: none;
    .shadow;
  }
}

.big-search-box {
  .search-form {
    h2 {
      .subtitle;
      margin-top: @grid-gutter-width + 10;
      padding: 0;
      border: none;
      font-size: @font-size-h4;
      color: @gray-base;
    }
  }
}
.search-input-group{
  position:relative;
}
.autocomplete-items{
  position: absolute;
  top:70px;
  left: 0;
  background-color: @white;
  width: 100%;
  
  z-index: 200;
  border-bottom: 1px solid @gray-lighter;
  border-right: 1px solid @gray-lighter;
  border-left: 1px solid @gray-lighter;
  .autocomplete-active{
    background-color: @brand-primary;
    color: @white;
  }
  &>*:not(:last-child){
    border-bottom: 1px solid @gray-lighter;
  }
  &>*{
    padding: 1rem @grid-gutter-width + 5;
  }
  strong{
    pointer-events: none;
  }
}

.control-order-by{
  display: inline-block;
  margin-left: 0;
  position: relative;
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    border-style: solid;
    background: @white;
    border-color: transparent @gray-base;
    pointer-events: none;
    transform: rotate(90deg)
  }
  &:after {
    top: 60%;
    margin-top: -8px;
    border-width: 4px 0 5px 5px;
  }
  & select{
    padding-right: 4rem;
  }
}