.legend {
  font: 14px/16px Arial, Helvetica, sans-serif;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  list-style: none;
  &>*:not(:last-child){
    padding-bottom: .5rem;
  }
  li{
    white-space: nowrap;
  }
}

.legend span {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 8px;
  border: 1px solid #969696;
}

.logoContainer,
.dt-header{
  width: 100%; 
  background-color: @white; 
  position: relative; 
  z-index:1000;
  .flex;
  .justify-content-between;
  .align-items-center;  
  img{
    padding: 1.5rem 2rem; 
  }
  div{
    font-family: @font-family-sans-serif;
    font-weight: 700;
    font-size: @font-size-base + 2;
    padding: .5rem;
    p{
      font-size: 12px;
      font-weight: 400;
      margin-bottom:0;
      white-space: nowrap;
    }
  }
  
}

#saveMap{
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  cursor: pointer;
}
.leaflet-top.leaflet-left{
  transform: translateY(70px)
}
.map-wrapper{
  .flex;
  flex-direction: row-reverse;
  width: 100%;
}
.c3-title{
  font-weight: 700;
  font-family: @font-family-sans-serif;
  tspan{
    font-size: 12px;
    font-weight: 400;
  }
}