@media only screen and (max-width: @screen-lg) {
  .media-grid {
    .media-item {
      width: calc(100% - 2%);
    }
  }
}

@media only screen and (max-width: 900px) {
  .user-newsfeed-posts {
    columns: 1;

    .newsfeed-wrapper {
      width: 100%;
      display: inline-block;
      margin: 1rem 1rem;

      .newsfeed-post {
        width: 100%;
        box-shadow: 0px 0px 30px lighten(@gray, 40%);
      }

    }
  }
}

@media only screen and (max-width: 550px) {
  .module-content {
    padding: 0 !important;
  }

  .newsfeed-item {
    width: 95% !important;
  }
}