.resource-feedback-actions {
  .flex;
  .flex-wrap;
  margin: 5rem 0;

  .resource-feedback-group {
    .flex;

    margin-right: 1rem;

    &>button {
      .btn-reset;
      .flex;
      .align-items-center;
      padding: 5px;
      font-size: @font-size-base/2;

      &:active,
      &:focus {
        .btn-reset;
      }

      & i {
        padding: 0 5px;
        font-size: @font-size-base * 1.5;
      }

      & .badge {
        margin: 0 5px;
        font-size: @font-size-base/2;
        background: @gray-dark;
      }
    }

    &>*:nth-child(odd) {
      &:hover {
        color: @brand-primary;

        & span {
          background-color: @brand-primary;
        }
      }

      &:disabled {
        color: @brand-primary;

        & span {
          background-color: @brand-primary;
        }
      }
    }

    &>*:nth-child(even) {
      &:hover {
        color: @gray;

        & .badge {
          background-color: @gray;
        }
      }

      &:disabled {
        color: @gray;

        & span {
          background-color: @gray;
        }
      }
    }
  }
}

#button-copy {
  padding-bottom: 30px;
}

.validation-info {
  margin-top: 10px;
}

.validation-box {
  border: 1px solid #ddd;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  max-width: 409px;
}

#validation_comment {
  display: inline;
  text-align: left;
}

.comment_body:first-child {
  padding: 5px;
}


.editCommentVisible {
  display: none;
  margin-bottom: 10px;
  text-align: end;

}

#whatEdited {
  border-radius: 4px
}

#whatEdited :first-child {
  border-radius: 4px
}

#what {
  border-radius: 4px
}

#what :first-child {
  border-radius: 4px
}

#validationForm {
  display: none;
  margin-top: 10px;
}

#validationReport {
  text-align: end;
}