@bootstrap-path: "../node_modules/bootstrap/less/";
@gray-line: #ececec;
@text-gray: #99938b;
@group-icon-size: 90px;
// @imagePath: "../../../../base/images";
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// Core variables and mixins
@import "_fonts.less";
@import "_bootstrap-variables.less";
@import "@{bootstrap-path}mixins.less";
// Reset and dependencies
@import "@{bootstrap-path}normalize.less";
@import "@{bootstrap-path}print.less";
// @import "@{bootstrap-path}glyphicons.less";
// Core CSS
@import "@{bootstrap-path}scaffolding.less";
@import "@{bootstrap-path}type.less";
@import "@{bootstrap-path}code.less";
@import "@{bootstrap-path}grid.less";
@import "@{bootstrap-path}tables.less";
@import "@{bootstrap-path}forms.less";
@import "@{bootstrap-path}buttons.less";
// Components
@import "@{bootstrap-path}component-animations.less";
@import "@{bootstrap-path}dropdowns.less";
@import "@{bootstrap-path}button-groups.less";
@import "@{bootstrap-path}input-groups.less";
@import "@{bootstrap-path}navs.less";
@import "@{bootstrap-path}navbar.less";
@import "@{bootstrap-path}breadcrumbs.less";
@import "@{bootstrap-path}pagination.less";
@import "@{bootstrap-path}pager.less";
@import "@{bootstrap-path}labels.less";
@import "@{bootstrap-path}badges.less";
@import "@{bootstrap-path}jumbotron.less";
@import "@{bootstrap-path}thumbnails.less";
@import "@{bootstrap-path}alerts.less";
@import "@{bootstrap-path}progress-bars.less";
@import "@{bootstrap-path}media.less";
@import "@{bootstrap-path}list-group.less";
@import "@{bootstrap-path}panels.less";
@import "@{bootstrap-path}responsive-embed.less";
@import "@{bootstrap-path}wells.less";
@import "@{bootstrap-path}close.less";
// Components w/ JavaScript
@import "@{bootstrap-path}modals.less";
@import "@{bootstrap-path}tooltip.less";
@import "@{bootstrap-path}popovers.less";
@import "@{bootstrap-path}carousel.less";
// Utility classes
@import "@{bootstrap-path}utilities.less";
@import "@{bootstrap-path}responsive-utilities.less";
/* Custom CSS */

@import "_flex.less";
@import "_mixins.less";
@import "_base.less";
@import "_typography.less";
@import "_buttons.less";
@import "_forms.less";

@import "_bootstrap-datetimepicker.less";

@import "_nav.less";
@import "_breadcrumb-navigation.less";
@import "_research-question-section.less";
@import "_datasets.less";
@import "_organizations.less";
@import "_resource.less";
@import "_resource-item.less";
@import "_visualizations.less";
@import "_theme-subtheme.less";
@import "_data-transformation.less";
@import "_map-view.less";
@import "_content.less";
@import "_footer.less";
@import "_notifications.less";
@import "_newsfeed.less";
@import "_comments.less";
@import "_bootstrap-suggest.less";
@import "_audit.less";
@import "_dashboards.less";

@import "_responsive-lg.less";

@import "_responsive-md.less";

@import "_responsive-sm.less";

@import "_responsive-xs.less";