{% resource 'knowledgehub/user_profile' %}

{% extends "user/read_base.html" %}

{% block primary_content_inner %}
<h2 id="tags-header-id">{{ _('Interests') }}</h2>
<div>
    {% snippet 'user/profile/snippets/interests.html' %}
</div>
{% endblock %}
