{% ckan_extends %}

{% block page_header %}
      <header class="module-content page-header hug">
        <div class="content_action">
          {% link_for _('Edit settings'), named_route='user.edit', id=user.name, class_='btn btn-default', icon='cog' %}
        </div>
        <ul class="nav nav-tabs">
          {{ h.build_nav_icon('dashboard.index', _('News feed')) }}
          {{ h.build_nav_icon('dashboard.datasets', _('My Datasets')) }}
          {{ h.build_nav_icon('dashboard.organizations', _('My Functional Units')) }}
          {{ h.build_nav_icon('dashboard.groups', _('My Joint Analysis')) }}
          {{ h.build_nav_icon('user_dashboard.user_posts', _('My Posts')) }}
          {{ h.build_nav_icon('user_dashboard.requests_list', _('Requests for Access')) }}
          {% if c.userobj and c.userobj.sysadmin %}
                    {{ h.build_nav_icon('user_dashboard.audit_requests', _('Requests Audit')) }}
                {# {{ h.build_nav_icon('user_dashboard.assign_requests', _('Requests Assigned')) }} #}
          {% endif %}
        </ul>
      </header>
    {% endblock %}

    {{ super() }}
