{% extends "user/dashboard.html" %}

{% block dashboard_activity_stream_context %}{% endblock %}

{% block page_primary_action %}
  
{% endblock %}

{% block primary_content_inner %}
{% set user_name = access_request.get('user', {}).get('name') or access_request.get('user_id') %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>{{ _('Access Request Declined') }}</h2>
            <p>
                {{ _('Request for access to ') }}
                <a href="{{access_request.entity_link}}">{{access_request.entity_title}}</a>
                {{ _('to user')}}
                <a href="{{ h.url_for('/user/{}'.format(access_request.get('user', {}).get('name'))) }}">{{user_name}}</a>
                {{ _('has beed declined.') }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="{{ h.url_for('user_dashboard.requests_list') }}" class="btn btn-primary pull-right">{{ _('Ok') }}</a>
        </div>
    </div>
</div>
{% endblock %}