{% extends "page.html" %}

{% block primary_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if errors %}
                <h3>{{ _('An error has occured while requesting access') }}</h3>
                <ul>
                    {% for err in errors %}
                    <li>{{ err }}</li>
                    {% endfor%}
                </ul>
                <a href="{{ h.url_for('/') }}" class="btn btn-primary pull-right">{{ _('OK') }}</a>
            {% else %}
                <h3>{{ _('Request sent') }}</h3>
                {{ _('Your request has been successfully sent to be approved.') }}
                <a href="{{ h.url_for('/') }}" class="btn btn-primary pull-right">{{ _('OK') }}</a>
            {% endif%}
        </div>
    </div>
</div>
{% endblock %}