{% resource 'knowledgehub/notifications' %}

{% ckan_extends %} {% block header_wrapper %} {% block header_account %}
<header class="account-masthead html2canvas-ignore ">
  <div class="container-fluid">
    {% block header_account_container_content %} {% if c.userobj %}
    <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
      <ul class="list-unstyled">
        {% block header_account_logged %} {% if c.userobj.sysadmin %}
        <li>
          <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
            <i class="fa fa-gavel" aria-hidden="true"></i>
            <span class="text">{{ _('Admin') }}</span>
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                  {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                  <span class="username">{{ c.userobj.display_name }}</span>
                </a>
        </li>
        {% set new_activities = h.new_activities() %}
        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
          {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
          %}
          <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span class="text">{{ _('Dashboard') }}</span>
            <span class="badge">{{ new_activities }}</span>
          </a>
        </li>
        {% block header_notifications %}
        {% set notifications = h.get_notifications(limit=5) %}
        <li class="notifications-header">
          <div class="dropdown">
            <a class="dropdown-toggle notifications-button" id="notifications-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-bell"></i>
              {% if notifications.count %}
              <span class="badge notifications-count">{{notifications.count}}</span>
              {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right notification-dropdown">
              <ul class="notifications-list" aria-labelledby="notifications-dropdown">
                {% snippet 'snippets/notifications_list.html', notifications=notifications.results, count=notifications.count %}
              </ul>
              {% if notifications.count > notifications.results|length %}
              <div class="item-show-more">
                <a href="#" class="notifications-show-more">{{ _('Show more') }}</a>
              </div>
              {% endif %}
            </div>
          </div>
        </li>
        {% endblock %}
        {% block header_account_settings_link %}
        <li>
          <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="text">{{ _('Settings') }}</span>
          </a>
        </li>
        {% endblock %} {% block header_account_log_out_link %}
        <li>
          <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span class="text">{{ _('Log out') }}</span>
          </a>
        </li>
        {% endblock %} {% endblock %}
      </ul>
    </div>
    {% else %}
    <nav class="account not-authed">
      <ul class="list-unstyled">
        {% block header_account_notlogged %}
        <li>{% link_for _('Log in'), named_route='user.login' %}</li>
        <li>{% link_for _('Log in with Azure'), named_route='user_login_azure' %}</li>
        {% if h.check_access('user_create') %}
        <li>{% link_for _('Register'), named_route='user.register', class_='sub' %}</li>
        {% endif %}
        {% endblock %}
      </ul>
    </nav>
    {% endif %} {% endblock %}
  </div>
</header>
{% endblock %}
<header class="navbar navbar-static-top masthead html2canvas-ignore">
  {% block header_debug %} {% if g.debug and not g.debug_supress_header %}
  <div class="debug">
    Controller : {{ c.controller }}<br />Action : {{ c.action }}
search  </div>
  {% endif %} {% endblock %}
  <div class="container-fluid">
    <div class="navbar-right">
      <button
        data-target="#main-navigation-toggle"
        data-toggle="collapse"
        class="navbar-toggle collapsed"
        type="button">
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <hgroup class="{{ g.header_class }} navbar-left">
      {% block header_logo %} {{ super() }} {% endblock %}
    </hgroup>
    <div class="collapse navbar-collapse" id="main-navigation-toggle">
      {% block header_site_navigation %}
      <nav class="section navigation">
        <ul class="nav nav-pills">
          {% block header_site_navigation_tabs %}
          {{ h.build_nav_main(
            ('search', _('Datasets')),
            ('organizations_index', _('Functional Units')),
            
            ('datarequests_index', _('Data Requests') + h.get_open_datarequests_badge()),
            ('dashboards.index', _('Dashboards')),
            
            ('home.about', _('About'))
          ) }}
          {% endblock %}
        </ul>
      </nav>
      {% endblock %} {% block header_site_search %} <!-- removed search box at the main menu --> {% endblock %}
    </div>
</header>
<!--
<header class="html2canvas-ignore">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#sub-menu-collapse"
        aria-expanded="false" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="sub-menu-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url_for 'theme.index' %}">{{ _('Themes') }}</a></li>
        <li><a href="{% url_for 'sub_theme.search' %}">{{ _('Sub-Themes') }}</a></li>
        <li><a href="{% url_for 'research_question.search' %}">{{ _('Research Questions') }}</a></li>
      </ul>
    </div>
  </div> 
</nav> 
</header>
-->

{% endblock %}
