{%  set data_quality = h.get_package_data_quality(pkg_dict.id)  %}
{% if c.userobj %}
<section class="dataset-comments">
  <h3>{{ _('Comments') }} <i class="fa fa-comments-o"></i> {{h.get_comments_count(pkg_dict.id)}}</h3>
  {% snippet 'snippets/comments.html', user=c.userobj, ref=pkg_dict.id, enable_multilevel_replies=False, ref_type='dataset' %}
</section>
{% endif %}
<section class="additional-info">
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {% block package_additional_info %}
      {% if pkg_dict.url %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Source') }}</th>
        {% if h.is_url(pkg_dict.url) %}
        <td class="dataset-details" property="foaf:homepage">
          {{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
        {% else %}
        <td class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</td>
        {% endif %}
      </tr>
      {% endif %}

      {% if pkg_dict.author_email %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Author") }}</th>
        <td class="dataset-details" property="dc:creator">
          {{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</td>
      </tr>
      {% elif pkg_dict.author %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Author") }}</th>
        <td class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.maintainer_email %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
        <td class="dataset-details" property="dc:contributor">
          {{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
      </tr>
      {% elif pkg_dict.maintainer %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
        <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.version %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Version") }}</th>
        <td class="dataset-details">{{ pkg_dict.version }}</td>
      </tr>
      {% endif %}

      {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("State") }}</th>
        <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
      </tr>
      {% endif %}
      {% if pkg_dict.metadata_modified %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Last Updated") }}</th>
        <td class="dataset-details">
          {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
        </td>
      </tr>
      {% endif %}
      {% if pkg_dict.metadata_created %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Created") }}</th>

        <td class="dataset-details">
          {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}
        </td>
      </tr>
      {% endif %}

      {% if pkg_dict.short_title %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Short Title") }}</th>
        <td class="dataset-details">{{ pkg_dict.short_title }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.external_access %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("External Access") }}</th>
        <td class="dataset-details">{{ pkg_dict.external_access }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.data_sensitivity %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Data Sensitivity") }}</th>
        <td class="dataset-details">{{ pkg_dict.data_sensitivity }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.original_id %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Original ID") }}</th>
        <td class="dataset-details">{{ pkg_dict.original_id }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.date_range_start %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Date Range Start") }}</th>
        <td class="dataset-details">{{ pkg_dict.date_range_start }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.date_range_end %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Date Range End") }}</th>
        <td class="dataset-details">{{ pkg_dict.date_range_end }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.unit_of_measurement %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Unit of Measurement") }}</th>
        <td class="dataset-details">{{ pkg_dict.unit_of_measurement }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.hxl_ated %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("HXL-ated") }}</th>
        <td class="dataset-details">{{ pkg_dict.hxl_ated }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.geog_coverage %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Geographic Coverage") }}</th>
        <td class="dataset-details">{{ pkg_dict.geog_coverage }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.linked_datasets %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Linked Datasets") }}</th>
        <td class="dataset-details">{{ pkg_dict.linked_datasets }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.data_collector %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Data Collector") }}</th>
        <td class="dataset-details">{{ pkg_dict.data_collector }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.process_status %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Process Status") }}</th>
        <td class="dataset-details">{{ pkg_dict.process_status }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.data_collection_technique %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Data Collection Technique") }}</th>
        <td class="dataset-details">{{ pkg_dict.data_collection_technique }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.operational_purpose %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Operational Purpose of Data") }}</th>
        <td class="dataset-details">{{ pkg_dict.operational_purpose }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.sampling_procedure %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Sampling Procedure") }}</th>
        <td class="dataset-details">{{ pkg_dict.sampling_procedure }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.archived %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Archived") }}</th>
        <td class="dataset-details">{{ pkg_dict.archived }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.sampling_procedure_notes %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Sampling Procedure Notes") }}</th>
        <td class="dataset-details">{{ pkg_dict.sampling_procedure_notes }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.admin_notes %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Admin Notes") }}</th>
        <td class="dataset-details">{{ pkg_dict.admin_notes }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.response_rate_notes %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Response Rate Notes") }}</th>
        <td class="dataset-details">{{ pkg_dict.response_rate_notes }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.data_collection_notes %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Data Collection Notes") }}</th>
        <td class="dataset-details">{{ pkg_dict.data_collection_notes }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.weight_notes %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Weight Notes") }}</th>
        <td class="dataset-details">{{ pkg_dict.weight_notes }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.clean_ops_notes %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Clean Ops Notes") }}</th>
        <td class="dataset-details">{{ pkg_dict.clean_ops_notes }}</td>
      </tr>
      {% endif %}

      {% if pkg_dict.data_access_notes %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Data Access Notes") }}</th>
        <td class="dataset-details">{{ pkg_dict.data_access_notes }}</td>
      </tr>
      {% endif %}
      

      {% block extras scoped %}
      {% for extra in h.sorted_extras(pkg_dict.extras) %}
      {% set key, value = extra %}
      <tr rel="dc:relation" resource="_:extra{{ i }}">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
        <td class="dataset-details" property="rdf:value">{{ value }}</td>
      </tr>
      {% endfor %}
      {% endblock %}

      {% endblock %}
    </tbody>
  </table>
  <br>

  <h3>{{ _('Data Quality') }}</h3>
  {% if data_quality.calculated_on %}
  <p>Calculated on: {{ h.render_datetime(data_quality.calculated_on, with_hours=True) }}</p>
  {% endif %}
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      <!-- <label> Completeness </label> <span> {{data_quality.timeliness }} -->
      {% if data_quality.completeness %}
      <tr>
        <th>Completeness</th>
        <td>{{'%0.2f' % data_quality.completeness | float}}&percnt;</td>
      </tr>
      {% else %}
      <tr>
        <th>Completeness</th>
        <td>N/A</td>
      </tr>
      {% endif %}
      {% if data_quality.timeliness %}
      <tr>
        <th>Timeliness</th>
        <td>{{data_quality.timeliness}}</td>
      </tr>
      {% else %}
      <tr>
        <th>Timeliness</th>
        <td>N/A</td>
      </tr>
      {% endif %}
      {% if data_quality.validity %}
      <tr>
        <th>Validity</th>
        <td>{{ '%0.2f' % data_quality.validity | float}}&percnt;</td>
      </tr>
      {% else %}
      <tr>
        <th>Validity</th>
        <td>N/A</td>
      </tr>
      {% endif %}
      {% if data_quality.uniqueness %}
      <tr>
        <th>Uniqueness</th>
        <td>{{'%0.2f' % data_quality.uniqueness | float}}&percnt;</td>
      </tr>
      {% else %}
      <tr>
        <th>Uniqueness</th>
        <td>N/A</td>
      </tr>
      {% endif %}
      {% if data_quality.consistency %}
      <tr>
        <th>Consistency</th>
        <td>{{'%0.2f' % data_quality.consistency | float}}&percnt;</td>
      </tr>
      {% else %}
      <tr>
        <th>Consistency</th>
        <td>N/A</td>
      </tr>
      {% endif %}
      {% if data_quality.accuracy %}
      <tr>
        <th>Accuracy</th>
        <td>{{'%0.2f' % data_quality.accuracy | float}}&percnt;</td>
      </tr>
      {% else %}
      <tr>
        <th>Accuracy</th>
        <td>N/A</td>
      </tr>
      {% endif %}

    </tbody>
  </table>
</section>


