{% ckan_extends %}
{% resource 'knowledgehub/javascript/list_countries.js' %}

{% block package_metadata_fields %}
{# {% block package_metadata_author %}
    {{ form.input('author', label=_('Author'), id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium'])}}
  {% endblock %} #}

{% block custom_fields %}

{# {% block basic_fields_country_of_displacement %}
{% set country_codes = h.get_countries() %}

<div class="control-group">
  <label class="control-label" for="field-country_code_displacement">{{ _("Country of Displacement") }}</label>
  <div class="controls">
    <select id="field-country_code_displacement" name="country_code_displacement" data-module="autocomplete" multiple=True>
      {% for country_code in country_codes  %}
        <option value="{{ country_code.name }}" {% if country_code.name in data.get('country_code_displacement', []) %}selected="selected"{% endif %}>{{ country_code.name }}</option>
      {% endfor %}
    </select>
  </div>
</div>
{% endblock %} #}

{# {% block basic_fields_country_of_origin %}
{% set country_codes = h.get_countries() %}
<div class="control-group">
  <label class="control-label" for="field-country_code_origin">{{ _("Country of Origin") }}</label>
  <div class="controls">
    <select id="field-country_code_origin" name="country_code_origin" data-module="autocomplete" multiple=True>
      {% for country_code in country_codes  %}
        <option value="{{ country_code.name }}" {% if country_code.name in data.get('country_code_origin', []) %}selected="selected"{% endif %}>{{ country_code.name }}</option>
      {% endfor %}
    </select>
  </div>
</div>
{% endblock %} #}




{# {% block notes %}

{{ form.input('admin_notes', label=_('Admin Notes'), id='field-admin-notes', placeholder=_('Admin Notes - General'), value=data.admin_notes, error=errors.admin_notes) }}
{{ form.input('sampling_procedure_notes', label=_('Sampling Procedure Notes'), id='field-sampling-procedure-notes', placeholder=_('Admin Notes - Sampling Procedure'), value=data.sampling_procedure_notes, error=errors.sampling_procedure_notes) }}
{{ form.input('response_rate_notes', label=_('Response Rate Notes'), id='field-response-rate-notes', placeholder=_('Admin Notes - Response Rate'), value=data.response_rate_notes, error=errors.response_rate_notes) }}
{{ form.input('data_collection_notes', label=_('Data Collection Notes'), id='field-data-collection-notes', placeholder=_('Admin Notes - Data Collection'), value=data.data_collection_notes, error=errors.data_collection_notes) }}
{{ form.input('weight_notes', label=_('Weight Notes'), id='field-weight-notes', placeholder=_('Admin Notes - Weigthing'), value=data.weight_notes, error=errors.weight_notes) }}
{{ form.input('clean_ops_notes', label=_('Clean Ops Notes'), id='field-clean-ops-notes', placeholder=_('Admin Notes - Cleaning'), value=data.clean_ops_notes, error=errors.clean_ops_notes) }}
{{ form.input('data_access_notes', label=_('Data Access Notes'), id='field-data-access-notes', placeholder=_('Admin Notes - Access Authority'), value=data.data_access_notes, error=errors.data_access_notes) }}


{% endblock %} #}


{% block fields_share_data %}
<section class="shared-data">
  <h3>{{ _('Share with') }}</h3>

  {% set users = h.get_all_users() %}
  <div class="control-group">
    <label class="control-label" for="field_shared_with_users">{{ _("Users") }}</label>
    {% set shared_with_users = data.get('shared_with_users') or [] %}
    <div class="controls">
      <select id="field_shared_with_users" name="shared_with_users" data-module="autocomplete" multiple=False>
        {% for user in users  %}
        <option value="{{ user.name }}" {% if (user.name in shared_with_users) or (user.id in shared_with_users) %} selected="selected"
          {% endif %}>{{ user.display_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% set organizations = h.get_all_organizations()%}
  <div class="control-group">
    <label class="control-label" for="field_shared_with_organizations">{{ _("Functional Units") }}</label>
    <div class="controls">
      <select id="field_shared_with_organizations" name="shared_with_organizations" data-module="autocomplete" multiple=False>
        {% for organization in organizations  %}
        <option value="{{ organization.id }}" {% if organization.id in (data.get('shared_with_organizations') or []) %} selected="selected"
          {% endif %}>{{ organization.title }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
   {% set groups = h.get_all_groups()%}
  {# <div class="control-group">
    <label class="control-label" for="field_shared_with_groups">{{ _("Joint Analyses") }}</label>
    <div class="controls">
      <select id="field_shared_with_groups" name="shared_with_groups" data-module="autocomplete" multiple=False>
        {% for group in groups  %}
        <option value="{{ group.id }}" {% if group.id in (data.get('shared_with_groups') or []) %} selected="selected"
          {% endif %}>{{ group.title }}</option>
        {% endfor %}
      </select>
    </div>
  </div> #}
</section>
{% endblock %}


  <!-- {% block basic_fields_unit_supported %}
	{{ form.input('unit_supported', id='field-unit-supported', label=_('Unit Supported'), placeholder=_('e.g. Protection'), value=data.unit_supported, error=errors.unit_supported, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_im_product_name %}
	{{ form.input('im_product_name', id='field-im-product-name', label=_('IM Product Name/Title'), placeholder=_('e.g. VAM - Food Security Analysis'), value=data.im_product_name, error=errors.im_product_name, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_indicator_label %}
	{{ form.input('indicator_label', id='field-indicator-label', label=_('Indicator Label'), placeholder=_('e.g. Average price of carrots'), value=data.indicator_label, error=errors.indicator_label, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_indicator_code %}
	{{ form.input('indicator_code', id='field-indicator-code', label=_('Indicator Code'), placeholder=_('e.g. SYR-19-01'), value=data.indicator_code, error=errors.indicator_code, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_indicator_old_name %}
	{{ form.input('indicator_old_name', id='field-ind-old-name', label=_('Indicator Old Name'), placeholder=_('e.g. '), value=data.indicator_old_name, error=errors.indicator_old_name, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_unit_focal_point %}
	{{ form.input('unit_focal_point', id='field-unit-focal-point', label=_('Unit Focal Point'), placeholder=_('e.g. Secondary Data Review'), value=data.unit_focal_point, error=errors.unit_focal_point, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_sector %}
	{{ form.input('sector', id='field-sector', label=_('Sector'), placeholder=_('e.g. Food security; Nutrition; Health'), value=data.sector, error=errors.sector, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_data_sources %}
	{{ form.input('data_sources', id='field-data-sources', label=_('Data Sources'), placeholder=_('e.g. WFP on line VAM http://dataviz.vam.wfp.org/economic_explorer/prices?adm0=238'), value=data.data_sources, error=errors.data_sources, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_frequency_of_update %}
	{{ form.input('frequency_of_update', id='field-freq-of-update', label=_('Frequency Of Update'), placeholder=_('e.g. Other'), value=data.frequency_of_update, error=errors.frequency_of_update, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_analytical_value %}
	{{ form.input('analytical_value', id='field-analytical-value', label=_('Analytical Value'), placeholder=_('e.g. Risk'), value=data.analytical_value, error=errors.analytical_value, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_indicator_type %}
	{{ form.input('indicator_type', id='field-ind-type', label=_('Indicator Type'), placeholder=_('e.g. Quantitative'), value=data.indicator_type, error=errors.indicator_type, classes=['control-full'], is_required=False) }}
  {% endblock %} -->


  {% endblock %}

{% endblock %}