{% import 'macros/form.html' as form %}

{% block package_basic_fields_title %}
{{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large'],
attrs={'data-module': 'slug-preview-target', 'class': 'form-control'}, is_required=true) }}
{% endblock %}

{% block package_basic_fields_url %}
{% set prefix = h.url_for(controller='package', action='read', id='') %}
{% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
{% set domain = domain|replace("http://", "")|replace("https://", "") %}
{% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>', 'class': 'form-control input-sm'} %}

  {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix,
  placeholder=_('eg. my-dataset'), value=data.name,  attrs=attrs, is_required=true) }}
  {% endblock %}

  {% block package_basic_fields_custom %}{% endblock %}

  {% block package_basic_fields_description %}
  {{ form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_('eg. Some useful notes about the data'), value=data.notes, error=errors.notes, is_required=true) }}
  {% endblock %}

  {% block package_basic_fields_tags %}
  {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
  {{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}
  {% endblock %}

  {# {% block package_basic_fields_license %}
  <div class="form-group">
    {% set error = errors.license_id %}
    <label class="control-label" for="field-license">{{ _("License") }}</label>
    <div class="controls">
      <div class="row">
        <div class="col-md-6">
          <select id="field-license" name="license_id" data-module="autocomplete">
            {% set existing_license_id = data.get('license_id') %}
            {% for license_id, license_desc in h.license_options(existing_license_id) %}
            <option value="{{ license_id }}" {% if existing_license_id == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
            {% endfor %}
          </select>
          {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
        </div>
        <div class="col-md-6">
          <span class="info-block info-inline">
            <i class="fa fa-info-circle"></i>
            {% trans %}
            License definitions and additional information can be found
            at <a href="http://opendefinition.org/licenses/">opendefinition.org</a>
            {% endtrans %}
          </span>
        </div>
      </div>
    </div>
  </div>
  {% endblock %} #}

  {% block package_basic_fields_org %}
  {# if we have a default group then this wants remembering #}
  {% if data.group_id %}
  <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
  {% endif %}

  {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
  {% set dataset_has_organization = data.owner_org or data.group_id %}
  {% set organizations_available = h.organizations_available('create_dataset') %}
  {% set user_is_sysadmin = h.check_access('sysadmin') %}
  {% set show_organizations_selector = organizations_available %}
  {% set show__selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}

  {# {% block package_basic_fields_unit_measurement %}

  {{ form.input('unit_of_measurement', id='field-unit-of-measurement', label=_('Unit of Measurement'), placeholder=_('Unit of measurement / observation for the dataset'),
  value=data.unit_of_measurement, error=errors.unit_of_measurement, is_required=true) }}
  {% endblock %} #}

   {# {{ form.input('data_collector', id='field-data-collector',
  label=_('Data Collector'), placeholder=_('Which organization
  owns/collected the data'), value=data.data_collector, error=errors.data_collector,
  classes=['control-full'], is_required=true) }} #}


   {# {% block basic_fields_external_access %}
  {% set options = ['Not Available', 'Direct Access', 'Public Use', 'Licensed Use', 'Data Enclave', 'Open Access'] %}
  <div class="control-group">
    <label class="control-full" for="field-external-access">{{ _("External Access Level") }}</label>
    <div class="controls">
      <select id="field-external_access" name="external_access" data-module="autocomplete">
        {% for acc in options  %}
          <option value="{{ acc }}" {% if acc in data.get('external_access', []) %}selected="selected"{% endif %}>{{ acc }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endblock %} #}

  {# {% block basic_fields_data_collection_technique %}
  {% set options = ['Not specified', 'Face-to-face interview', 'Face-to-face interview: Computerised', 'Face-to-face interview: Mobile',
  'Face-to-face interview: Paper-and-pencil', 'Telephone interview', 'E-mail interview', 'Self-administered questionnaire: E-mail',
  'Self-administered questionnaire: Paper', 'Self-administered questionnaire: SMS/MMS',
  'Web-based interview: audio-visual technology enabling the interviewer(s) and interviewee(s) to communicate in real time',
  'Self-administered questionnaire: Computer-assisted', 'Self-administered questionnaire: Web-based', 'Face-to-face focus group',
  'Telephone focus group', 'Observation', 'Other'] %}
  <div class="control-group">
    <label class="control-label" for="field-data-collection-technique" is_required="true">{{ _("Data Collection Technique") }}</label>
    <div class="controls">
      <select id="field-data-collection-technique" name="data_collection_technique" data-module="autocomplete">
        {% for opt in options  %}
          <option value="{{ opt }}" {% if opt in data.get('data_collection_technique', []) %}selected="selected"{% endif %}>{{ opt }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endblock %} #}

  {# {% block basic_fields_archived %}
  {% set options = ['No', 'Yes'] %}
  <div class="control-group">
    <label class="control-label" for="field-archived">{{ _("Archived") }}</label>
    <div class="controls">
      <select id="field-archived" name="archived" data-module="autocomplete" is_required="true">
        {% for opt in options  %}
          <option value="{{ opt }}" {% if opt in data.get('archived', []) %}selected="selected"{% endif %}>{{ opt }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endblock %} #}


  {# {{ form.input('short_title', id='field-short-title', label=_('Short
  Title'), placeholder=_('eg. A short title'), value=data.short_title,
  error=errors.short_title) }} #}

  {# {% block package_basic_fields_sensitivity %}
  {{ form.input('data_sensitivity', id='field-data-sensitivity', label=_('Data Sensitivity'), placeholder=_('eg. Yes'), value=data.data_sensitivity, error=errors.data_sensitivity) }}
  {% endblock %} #}

  {# {% block package_basic_fields_original_id %}
  {{ form.input('original_id', id='field-data-original-id', label=_('Original ID'), placeholder=_('If the dataset already has an ID '), value=data.original_id, error=errors.original_id) }}
  {% endblock %} #}

   {# {% block package_basic_fields_date_range %}
  {{ form.input('date_range_start', id='field-date-range-start', label=_('Date Range Start'), placeholder=_('Date collection first date '), value=data.date_range_start, error=errors.date_range_start) }}
  {{ form.input('date_range_end', id='field-date-range-end', label=_('Date Range End'), placeholder=_('Date collection last date '), value=data.date_range_end, error=errors.date_range_end) }}
  {% endblock %} #}

  {# {% block package_basic_hxl_ated %}
  {{ form.input('hxl_ated', id='field-hxl-ated', label=_("HXL-ated"), placeholder=_('Indicates if the dataset has HXL hashtags'), value=data.hxl_ated, error=errors.hxl_ated) }}
  {% endblock %} #}

  {% block package_basic_geog_coverage %}
  {{ form.input('geog_coverage', id='field-geog-coverage', label=_("Country Operation"), placeholder=_('eg. National coverage, or name of the area, etc.'), value=data.geog_coverage, error=errors.geog_coverage) }}
  {% endblock %}

  {# {% block package_basic_linked_datasets %}
  {{ form.input('linked_datasets', id='field-linked-datasets', label=_("Linked Datasets"), placeholder=_('Links to other RIDL datasets.'), value=data.linked_datasets, error=errors.linked_datasets) }}
  {% endblock %} #}

  {# {% block basic_fields_process_status %}
  {% set options = ['Raw-Uncleaned', 'Cleaned Only', 'Cleaned & Anonymized'] %}
  <div class="control-group">
    <label class="control-label" for="field-process-status">{{ _("Dataset Process Status") }}</label>
    <div class="controls">
      <select id="field-process-status" name="process_status" data-module="autocomplete">
        {% for opt in options  %}
          <option value="{{ opt }}" {% if opt in data.get('process_status', []) %}selected="selected"{% endif %}>{{ opt }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endblock %} #}

  {# {% block basic_fields_identifiability%}
  {% set options = ['Personally identifiable', 'Anonymized 1st level: Data Enclave - only removed direct identifiers',
  'Anonymized 2st level: Scientific Use File (SUF)', 'Anonymized 3rd level: Public Use File (PUF)'] %}
  <div class="control-group">
    <label class="control-label" for="field-identifiability">{{ _("Identifiability") }}</label>
    <div class="controls">
      <select id="field-identifiability" name="identifiability" data-module="autocomplete">
        {% for opt in options  %}
          <option value="{{ opt }}" {% if opt in data.get('identifiability', []) %}selected="selected"{% endif %}>{{ opt }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endblock %} #}

  {# {% block basic_fields_sampling_procedure %}
  {% set options = ['Probability: Simple random', 'Probability: Systematic random', 'Probability: Stratified', 'Probability: Stratified: Proportional', 'Probability: Stratified: Disproportional', 'Probability: Cluster',
  'Probability: Cluster: Simple random', 'Probability: Cluster: Stratified random', 'Probability: Multistage', 'Non-probability', 'Non-probability: Availability',
  'Non-probability: Purposive', 'Non-probability: Quota', 'Non-probability: Respondent-assisted', 'Mixed probability and non-probability'] %}
  <div class="control-group">
    <label class="control-label" for="field-sampling-procedure">{{ _("Sampling Procedure") }}</label>
    <div class="controls">
      <select id="field-sampling-procedure" name="sampling_procedure" data-module="autocomplete" multiple=True>
        {% for opt in options  %}
          <option value="{{ opt }}" {% if opt in data.get('sampling_procedure', []) %}selected="selected"{% endif %}>{{ opt }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endblock %} #}

  {# {% block basic_fields_operational_purpose_of_data %}
  {% set options = ['Participatory assessments', 'Baseline Household Survey', 'Rapid Needs Assessment', 'Protection Monitoring', 'Programme monitoring',
  'Population Data', 'Cartography, Infrastructure & GIS'] %}
  <div class="control-group">
    <label class="control-label" for="field-operational-purpose">{{ _("Operational Purpose of Data") }}</label>
    <div class="controls">
      <select id="field-operational-purpose" name="operational_purpose" data-module="autocomplete" multiple=True>
        {% for opt in options  %}
          <option value="{{ opt }}" {% if opt in data.get('operational_purpose', []) %}selected="selected"{% endif %}>{{ opt }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endblock %} #}


  {% if show_organizations_selector and show__selector %}
  <div data-module="dataset-">
    {% endif %}

    {% if show_organizations_selector %}
    {% set existing_org = data.owner_org or data.group_id %}
    <div class="form-group control-medium">
      <label for="field-organizations" class="control-label">
        <span title="This field is required" class="control-required">*</span>
        {{ _('Functional Unit') }}
      </label>
      <div class="controls">
        <select id="field-organizations" name="owner_org"
                data-module="autocomplete">
          {% if h.check_config_permission('create_unowned_dataset') %}
          <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No functional unit.') }}</option>
          {% endif %}
          {% for organization in organizations_available %}
          {# get out first org from users list only if there is not an existing org #}
          {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
          <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.display_name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endif %}

    {% if show__selector %}
    {% block package_metadata_fields_ %}
    <div class="form-group control-medium">
      <label for="field-private" class="control-label">
        <span title="This field is required" class="control-required">*</span>
        {{ _('Visibility') }}
      </label>
      <div class="controls">
        <select id="field-private" name="private" class="form-control">
          {% for option in [('True', _('Private'))] %}
          <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endblock %}
    {% endif %}

    {% if show_organizations_selector and show__selector %}
    <input type="hidden" value="{{ data.micro_data_status }}"
           id="hidden_status">
    {% block package_micro_data %}
        <div class="form-group control-medium">
          <label class="control-label">{{ _('Micro Data') }}</label>
          <div class="controls" style="display: flex">
            <div class="check_val">
            <input type="radio" name="micro_data_status" value="YES"
                   {% if data.micro_data_status == "YES" %}checked{% endif %}
                   onclick="handleRadioClick(this);">
            <label>Yes</label>
              </div>
              <div class="check_val">
                <input type="radio" name="micro_data_status" value="NO"
                       {% if data.micro_data_status != "YES" %}checked{%
                       endif %}
                       onclick="handleRadioClick(this);">
                <label>No</label>
                </div>
          </div>
        </div>

        <div style="display: none" id="microDataFields">
        {% set options = ['Raw-Uncleaned', 'Cleaned Only', 'Cleaned & Anonymized'] %}
        <div class="control-group">
          <label class="control-label" for="field-process-status">
            <span title="This field is required" class="control-required">*</span>
            {{ _("Dataset Process Status") }}
          </label>
          <div class="controls">
            <select id="field-process-status" name="process_status" data-module="autocomplete">
              {% for opt in options  %}
                <option value="{{ opt }}" {% if opt in data.get('process_status', []) %}selected="selected"{% endif %}>{{ opt }}</option>
              {% endfor %}
            </select>
          </div>
        </div>


        {% set options = ['Personally identifiable', 'Anonymized 1st level: Data Enclave - only removed direct identifiers',
      'Anonymized 2st level: Scientific Use File (SUF)', 'Anonymized 3rd level: Public Use File (PUF)'] %}
      <div class="control-group">
        <label class="control-label" for="field-identifiability">
          <span title="This field is required" class="control-required">*</span>
          {{ _("Identifiability") }}
        </label>
        <div class="controls">
          <select id="field-identifiability" name="identifiability" data-module="autocomplete">
            {% for opt in options  %}
              <option value="{{ opt }}" {% if opt in data.get('identifiability', []) %}selected="selected"{% endif %}>{{ opt }}</option>
            {% endfor %}
          </select>
        </div>
      </div>


        {{ form.input('data_collector', id='field-data-collector',
      label=_('Data Collector'), placeholder=_('Which organization owns/collected the data'), value=data.data_collector, error=errors.data_collector,
      classes=['control-full']) }}


        {% set options = ['Not specified', 'Face-to-face interview', 'Face-to-face interview: Computerised', 'Face-to-face interview: Mobile',
      'Face-to-face interview: Paper-and-pencil', 'Telephone interview', 'E-mail interview', 'Self-administered questionnaire: E-mail',
      'Self-administered questionnaire: Paper', 'Self-administered questionnaire: SMS/MMS',
      'Web-based interview: audio-visual technology enabling the interviewer(s) and interviewee(s) to communicate in real time',
      'Self-administered questionnaire: Computer-assisted', 'Self-administered questionnaire: Web-based', 'Face-to-face focus group',
      'Telephone focus group', 'Observation', 'Other'] %}
      <div class="control-group">
        <label class="control-label" for="field-data-collection-technique">{{ _("Data Collection Technique") }}</label>
        <div class="controls">
          <select id="field-data-collection-technique" name="data_collection_technique" data-module="autocomplete">
            {% for opt in options  %}
              <option value="{{ opt }}" {% if opt in data.get('data_collection_technique', []) %}selected="selected"{% endif %}>{{ opt }}</option>
            {% endfor %}
          </select>
        </div>
      </div>


        {{ form.input('unit_of_measurement', id='field-unit-of-measurement', label=_('Unit of Measurement'), placeholder=_('Unit of measurement / observation for the dataset'),
      value=data.unit_of_measurement, error=errors.unit_of_measurement) }}



        {{ form.input('sampling_procedure_notes', label=_('Sampling Procedure Notes'),
        id='field-sampling-procedure-notes',
        placeholder=_('Admin Notes - Sampling Procedure'),
        value=data.sampling_procedure_notes, error=errors.sampling_procedure_notes) }}
        {% endblock %}
          {% endif %}

    </div>

    {% if show_organizations_selector and show__selector %}
  </div>
  {% endif %}
  {# {% if data.id and h.check_access('package_delete', {'id': data.id}) and
  data.state != 'active' %}
  <div class="form-group control-medium">
    <label for="field-state" class="control-label">{{ _('State') }}</label>
    <div class="controls">
      <select class="form-control" id="field-state" name="state">
        <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
        <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
      </select>
    </div>
  </div>
  {% endif %} #}

  {% endblock %}

  <script>
    function handleRadioClick(myRadio) {
      let currentValue = myRadio.value;
      let microDataFieldDOM = document.getElementById('microDataFields');
      if (currentValue === 'YES') {
          microDataFieldDOM.style.display = 'block';
      } else {
        microDataFieldDOM.style.display = 'none';
      }
    }


    document.addEventListener("DOMContentLoaded", function(event) {
         let hiddenStatusDOM = document.getElementById('hidden_status');
         let microDataFieldDOM = document.getElementById('microDataFields');
         if (hiddenStatusDOM && hiddenStatusDOM.value) {
                if (hiddenStatusDOM.value === 'YES') {
                  microDataFieldDOM.style.display = 'block';
                } else {
                  microDataFieldDOM.style.display = 'none';
                }
         }
    });
  </script>

