{% import 'macros/form.html' as form %}

{% resource 'knowledgehub/javascript/data_sources.js' %}

{% set data = data or {} %}
{% set errors = errors or {} %}
{% set action = form_action or h.url_for(controller='package', action='new_resource', id=pkg_name) %}


<form id="resource-edit" class="dataset-form dataset-resource-form" method="post" action="{{ action }}" data-module="basic-form resource-form" enctype="multipart/form-data" novalidate>

  {% block stages %}
    {# An empty stages variable will not show the stages #}
    {% if stage %}
      {{ h.snippet('package/snippets/stages.html', stages=stage, pkg_name=pkg_name) }}
    {% endif %}
  {% endblock %}

  {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

  <input name="id" value="{{ data.id }}" type="hidden"/>
  <input id="form-data" value="{{ data }}" type="hidden"/>
  <input id="form-errors" value="{{ errors }}" type="hidden"/>

  {% block basic_fields %}
    {% block basic_fields_url %}
      {% set is_upload = (data.url_type == 'upload') %}
      {{ form.image_upload(data, errors, field_url='url', field_upload='upload', field_clear='clear_upload',
         is_upload_enabled=h.uploads_enabled(), is_url=data.url and not is_upload, is_upload=is_upload,
         upload_label=_('Data'), url_label=_('URL'),
  placeholder=_('http://example.com/external-data.csv'), field_name='name'
  ) }}
         <div class="input-group-btn">
            <button class="btn btn-default btn-data-source" type="button"><i class="fa fa-database"></i>{{ _('Source') }}</button>
        </div>
    {% endblock %}
    <div class="data-source">
      <div class="select-form"></div>
      <div class="connection-params"></div>
    </div>
    {% block basic_fields_name %}
      {{ form.input('name', id='field-name', label=_('Name'), placeholder=_('eg. January 2011 Gold Prices'),
      value=data.name, error=errors.name, classes=['control-full'],
      is_required=True) }}
    {% endblock %}

    {% block basic_fields_description %}
      {{ form.markdown('description', id='field-description', label=_('Description'),
  placeholder=_('Some useful notes about the data'), value=data.description,
  error=errors.description, is_required=true) }}
    {% endblock %}

    {% block basic_fields_format %}
      {% set format_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/resource/format_autocomplete?incomplete=?'} %}
      {% call form.input('format', id='field-format', label=_('Format'), placeholder=_('eg. CSV, XML or JSON'), value=data.format, error=errors.format, classes=['control-medium'], attrs=format_attrs) %}
        <span class="info-block info-block-small">
          <i class="fa fa-info-circle"></i>
          {{ _('This will be guessed automatically. Leave blank if you wish') }}
        </span>
      {% endcall %}
    {% endblock %}

  {# {% snippet 'package/snippets/resource_schema.html', data=data,
  errors=errors, licenses=licenses, entity_type=entity_type, object_type=object_type %}
    {% snippet 'package/snippets/validation_options.html', data=data, errors=errors,
  licenses=licenses, entity_type=entity_type, object_type=object_type %} #}

    <input type="hidden" name="validation_status" value="{{ data['validation_status'] }}" />
    <input type="hidden" name="validation_timestamp" value="{{ data['validation_timestamp'] }}" />

    {{ form.input('date_range_start', id='field-date-range-start', label=_('Date Range Start'), placeholder=_('Date collection first date '), value=data.date_range_start, error=errors.date_range_start, is_required=true) }}
    {{ form.input('date_range_end', id='field-date-range-end', label=_('Date Range End'), placeholder=_('Date collection last date '), value=data.date_range_end, error=errors.date_range_end, is_required=true) }}

    {# {% block basic_fields_file_type %}
    {% set options = ['Microdata', 'Questionnaire', 'Report', 'Sampling strategy & methodology Description', 'Infographics & Dashboard',
    'Other'] %}
    <div class="control-group">
      <label class="control-label" for="field-file-type" is_required="true">{{ _("File Type") }}</label>
      <div class="controls">
        <select id="field-file-type" name="file_type" data-module="autocomplete">
          {% for opt in options  %}
            <option value="{{ opt }}" {% if opt in (data.get('file_type', []) or []) %}selected="selected"{% endif %}>{{ opt }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endblock %} #}

    {# {% block resource_fields_process_status %}
    {% set options = ['Raw-Uncleaned', 'Cleaned Only', 'Cleaned & Anonymized'] %}
    <div class="control-group">
      <label class="control-label" for="field-process-status">{{ _("Dataset Process Status") }}</label>
      <div class="controls">
        <select id="field-process-status" name="process_status" data-module="autocomplete">
          {% for opt in options  %}
            <option value="{{ opt }}" {% if opt in (data.get('process_status', []) or []) %}selected="selected"{% endif %}>{{ opt }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endblock %} #}

    {# {% block basic_fields_identifiability%}
    {% set options = ['Personally identifiable', 'Anonymized 1st level: Data Enclave - only removed direct identifiers',
    'Anonymized 2st level: Scientific Use File (SUF)', 'Anonymized 3rd level: Public Use File (PUF)'] %}
    <div class="control-group">
      <label class="control-label" for="field-identifiability" is_required="True">{{ _("Identifiability") }}</label>
      <div class="controls">
        <select id="field-identifiability" name="identifiability" data-module="autocomplete">
          {% for opt in options  %}
            <option value="{{ opt }}" {% if opt in (data.get('identifiability', []) or []) %}selected="selected"{% endif %}>{{ opt }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endblock %} #}

    {# {% block package_basic_hxl_ated %}
    {% set options = ['No', 'Yes'] %}
    <div class="control-group">
      <label class="control-label" for="field-hxl-ated">{{ _("HXL-ated") }}</label>
      <div class="controls">
        <select id="field-hxl-ated" name="hxl_ated" data-module="autocomplete" is_required="true">
          {% for opt in options  %}
            <option value="{{ opt }}" {% if opt in (data.get('hxl_ated', []) or []) %}selected="selected"{% endif %}>{{ opt }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endblock %} #}

   {# {{ form.select('admin', id='field-resource-validation-admin',
  label=_('Request Resource Validation'),
  options=h.get_resource_validation_options(pkg_name),
  selected=data.admin, error=errors.resource_validation,
  classes=["control-medium"]) }} #}


  {% endblock basic_fields %}

  {% block metadata_fields %}
    {% if include_metadata %}
      {# TODO: Where do these come from, they don't exist in /package/new_package_form.html #}
      {# {{ form.select('resource_type', id='field-type', label=_('Resource Type'), options=[{'value': 'empty', 'text': _('Select a type…')}], selected="empty", error=errors.type) }} #}

      {{ form.input('last_modified', id='field-last-modified', label=_('Last Modified'), placeholder=_('eg. 2012-06-05'), value=data.last_modified, error=errors.last_modified, classes=[]) }}

      {{ form.input('size', id='field-size', label=_('File Size'), placeholder=_('eg. 1024'), value=data.size, error=errors.size, classes=[]) }}

      {{ form.input('mimetype', id='field-mimetype', label=_('MIME Type'), placeholder=_('eg. application/json'), value=data.mimetype, error=errors.mimetype, classes=[]) }}

      {{ form.input('mimetype_inner', id='field-mimetype-inner', label=_('MIME Type'), placeholder=_('eg. application/json'), value=data.mimetype_inner, error=errors.mimetype_inner, classes=[]) }}
    {% endif %}
  {% endblock %}

  {# {% block data_quality_fields %}
  <div class="data-quality-settings panel">
    <div class="panel-head">
      <h3>{{_('Data Quality Settings')}}</h3>
    </div>
    <h4 class="panel-body">
      <div class="timeliness-settings">
        <h4>{{_('Timeliness Settings')}}</h4>
        {{ form.input('dq_timeliness_column',
                      id='dq_timeliness_column',
                      label=_('Record Date Column Name'),
                      placeholder=_('eg. date_of_entry'),
                      value=data.dq_timeliness_column,
                      error=errors.dq_timeliness_column,
                      classes=[]) }}

        {{ form.input('dq_timeliness_date_format',
                      id='dq_timeliness_date_format',
                      label=_('Date Format'),
                      placeholder=_('eg. %Y-%m-%dT%H:%M:%S.%fZ'),
                      value=data.dq_timeliness_date_format,
                      error=errors.dq_timeliness_date_format,
                      classes=[]) }}
      </div>
      <div class="accuracy-settings">
        <h4>{{_('Accuracy Settings')}}</h4>
        {{ form.input('dq_accuracy_column',
                      id='dq_accuracy_column',
                      label=_('Column with flag if the record is accurate'),
                      placeholder=_('eg. is_accurate'),
                      value=data.dq_accuracy_column,
                      error=errors.dq_accuracy_column,
                      classes=[]) }}
      </div>
    </div>
  </div>

  {% endblock%} #}

  <div class="form-actions">
    {% block delete_button %}
      {% if data.id %}
        {% if h.check_access('resource_delete', {'id': data.id})  %}
          <a class="btn btn-danger pull-left" href="{% url_for controller='package', action='resource_delete', resource_id=data.id, id=pkg_name %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this resource?') }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
        {% endif %}
      {% endif %}
    {% endblock %}
    {% if stage %}
      {% block previous_button %}
        <button class="btn btn-default" name="save" value="go-dataset" type="submit">{{ _('Previous') }}</button>
      {% endblock %}
      {% block again_button %}
        <button class="btn btn-default" name="save" value="again" type="submit">{{ _('Save & add another') }}</button>
        {% endblock %}
      {% block save_button %}
      <button class="btn btn-primary" name="save" value="go-metadata" type="submit">{% block save_button_text %}{{ _('Finish') }}{% endblock %}</button>
      {% endblock %}
    {% else %}
      {% block add_button %}
      <button class="btn btn-primary" name="save" value="go-dataset-complete" type="submit">{{ _('Add') }}</button>
      {% endblock %}
    {% endif %}
  </div>
</form>
