{#
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}

{% resource 'knowledgehub/javascript/push_data_to_hdx.js' %}

<section id="dataset-resources" class="resources">
  <h3>{{ _('Data and Resources') }}</h3>
  {% block resource_list %}
  {% if resources %}
  <ul class="{% block resource_list_class %}resource-list{% endblock %}">
    {% block resource_list_inner %}
    {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
    {% for resource in resources %}
    {% if resource.get('name') != system_resource.get('name') %}
    {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit %}
    {% endif %}
    {% endfor %}
    {% endblock %}
    {% if resources | length == 1 %}
    {% set only_one_res = true %}
    {% else %}
    {% set only_one_res = false %}
    {% endif %}

    {% if not hide_merge_btn %}
    <li class="resource-item" style="text-align: end">
      <a class="btn btn-success" href="{% url_for 'kwh_dataset.merge_all_data', id=pkg.id %}"
        {{ 'disabled' if active_upload or only_one_res }}><i class="fa fa-code-fork fa-lg"></i>{{ _(' Merge All') }}</a>
    </li>
    {% endif %}
    <input id="package-name" value="{{ pkg.name }}" type="hidden" />
    {% if h.check_access('package_update', {'id':pkg.id }) %}
    <li class="resource-item" style="text-align: end">
      <div id="hdx-loader"></div>
      <button class="btn btn-success" id="pushHDX" type="submit">
        {% if pkg.get('hdx_name') %}
        <i class="fa fa-upload"></i>{{ _(' Update dataset to HDX') }}
        {% else %}
        <i class="fa fa-upload"></i>{{ _(' Push dataset to HDX') }}
        {% endif %}
      </button>
    </li>
    {% endif %}

    <input id="package-name" value="{{ pkg.name }}" type="hidden" />
    {% if h.check_access('package_update', {'id':pkg.id }) %}
    <li class="resource-item" style="text-align: end">
      <div id="hdx-loader"></div>
      {% if pkg.get('hdx_name') %}
      <button class="btn btn-success" id="removeHDX" type="submit">
        <i class="fa fa-download"></i>{{ _(' Remove dataset from HDX') }}
      </button>
      {% endif %}

    </li>
    {% endif %}

    {% if system_resource %}
    <h3>{{ _('System Resources') }}</h3>
    {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=system_resource, can_edit=can_edit %}
    {% endif %}
  </ul>
  {% else %}
  {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}
  {% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
  <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
  {% endtrans %}
  {% else %}
  <p class="empty">{{ _('This dataset has no data') }}</p>
  {% endif %}
  {% endif %}
  {% endblock %}

</section>
