{% import 'macros/form.html' as form %}

{% set value = data['schema'] %}
{% set is_url = (value|truncate(4, end='')|lower == 'http') %}
{% set is_json = not is_url and value %}

<div class="image-upload" style="margin-bottom:20px" data-module="resource-schema"
    data-module-is_url="{{ 'true' if is_url else 'false' }}" data-module-is_json="{{ 'true' if is_json else 'false' }}"
    data-module-field_url="schema_url" data-module-field_json="schema_json">
    <div id="resource-schema-buttons">
        <label class="control-label">{{ _('Data Schema') }}</label>
        <div class="form-group controls">

        </div>
    </div>

    {# Schema Upload #}
    {{ form.input(
        'schema_upload',
        label='Upload Data Schema',
        id='field-schema-upload',
        type='file',
        error='',
        classes=['control-full']
        )
     }}

    {# Schema URL #}
    {{ form.input(
          'schema_url',
          label='Data Schema URL',
          id='field-schema-url',
          type='url',
          placeholder='https://example.com/schema.json',
          value=data.get('schema') if is_url else '',
          error=errors.get('schema') if is_url else '',
          classes=['control-full']
        )
    }}

    {# Schema JSON #}
    {{ form.textarea(
          'schema_json',
          id='field-schema-json',
          label=_('Data Schema JSON definition'),
          value=value if (value and is_json) else None,
          error=errors['schema'] if is_json else None,
          classes=['control-full']
        )
    }}



    {# Actual field containing the value #}
    {% set existing_value =value if is_json else value %}
    {# <input type="hidden" id="field-schema" name="schema"
              value="{{ existing_value }}" />  #}

    {% resource 'ckanext-validation/resource-schema-form' %}

</div>