{% import 'macros/form.html' as form %}

{% resource 'knowledgehub/javascript/modules/dashboard_type_select.js' %}
{% resource 'knowledgehub/javascript/modules/dashboard_add_viz_btn.js' %}
{% resource 'knowledgehub/chart' %}
{% resource 'knowledgehub/table' %}
{% resource 'knowledgehub/map' %}
{% resource 'knowledgehub/javascript/rqs_selection.js' %}

<form id='dashboard-edit-form' class="dataset-form" method="post" data-module="basic-form" novalidate>
  {% block error_summary %}
    {{ form.errors(error_summary) }}
  {% endblock %}

  {% block basic_fields %}
    {% set dashboard_options = [{'text': 'Choose type', 'value': ''}, {'text': 'Metrics', 'value': 'internal'}, {'text': 'PowerBI', 'value': 'external'}] %}
    {% set attrs = {'data-module': 'slug-preview-target', 'class': 'form-control'} %}
    {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
    {{ form.input('title', label=_('Title'), id='field-name', placeholder=_('My Dashboard'), value=data.title, error=errors.title, classes=['control-full'], attrs=attrs, is_required=true) }}

    {%- set prefix = h.url_for('dashboard.read', name='') -%}
    {%- set domain = h.url_for('dashboard.read', name='', qualified=true) -%}
    {% set domain = domain|replace("http://", "")|replace("https://", "") %}
    {% set attrs = {'data-module': 'slug-preview-slug', 'class': 'form-control input-sm', 'data-module-prefix': domain, 'data-module-placeholder': '<' + 'name' + '>'} %}

    {{ form.prepend('name', label=_('URL'), prepend=prefix, id='field-url', placeholder=_('my-dashboard'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}

    {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_('A little information about this Dashboard...'), value=data.description, error=errors.description, is_required=true) }}

    {{ form.input('tags', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tags, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}


    {% set attrs = {'data-module': 'knowledgehub-dashboard-type-select', 'class': 'form-control'} %}
    {{ form.select('type', label=_('Type'), options=dashboard_options, error=errors.type, selected=data.type, is_required=true, attrs=attrs) }}

    {% set hiddenClass = 'hidden' if not data or data.type != 'external' else '' %}
    {{ form.input('source', label=_('Source'), id='field-source', type='url', placeholder=_('Enter PowerBI Dashboard URL'), value=data.source, error=errors.source, classes=['control-full', hiddenClass], is_required=true) }}

    {% set datasets = h.get_datasets() %}
    {% set selected_datasets = data.datasets.split(', ') if data.datasets else [] %}
    {% set options = {} %}
    {% for dataset in datasets.results %}
      {% if dataset['id']  in selected_datasets %}
        {% set new_item = options.__setitem__(dataset['title'], {"s": "True", "id":dataset['id']}) %}
      {% else %}
        {% set new_item = options.__setitem__(dataset['title'], {"s": "False", "id":dataset['id']}) %}
      {% endif %}
    {% endfor %}

    <div class="datasets {{ hiddenClass }}">
      <label class="control-label" for="datasets">{{_('Datasets')}}</label>
      <select name="datasets" id="datasets" multiple="multiple" type="hidden">
        {% for k,v in options.items() %}
          <option value="{{ v['id'] }}" {{'selected' if v['s'] == 'True'}}>{{ k }}</option>
        {% endfor %}
      </select>
    </div>

    {% set options = {} %}
    {% for rq in h.get_rq_options() %}
      {% if data.indicators is iterable and data.indicators is not string %}
        {% for i in data.indicators %}
          {% if rq.id == i.research_question %}
            {% set new_item = options.__setitem__(rq.text, {"s": "True", "id": rq.id}) %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if not options[rq.text] %}
        {% set new_item = options.__setitem__(rq.text, {"s": "False", "id": rq.id}) %}
      {% endif %}
    {% endfor %}

    <div class="research-questions {{ hiddenClass }}">
      <label class="control-label" for="indicators">{{_('Research Questions')}}</label>
      <select name="indicators" id="indicators" multiple="multiple" type="hidden">
          {% for k,v in options.items() %}
            <option value="{{ v['id'] }}" {{'selected' if v['s'] == 'True'}}>{{ k }}</option>
          {% endfor %}
      </select>
    </div>

    {% set research_questions = [{'text': 'Choose research question', 'value': ''}] + h.get_rq_options(context, idValue=true) %}
    <script type="text/javascript">
        window.research_questions = {{ research_questions | tojson }}
    </script>
    <div class="internal-dashboard-viz-container" {% if data.type == 'internal' %} style="display: block" {% endif %}>
        <h3>{{ _('Add visualizations based on Research Questions') }}</h3>
        <hr />
        <div class="internal-dashboard-viz-container-items">
          {% if data.indicators and data.type == 'internal' %}
              {% for indicator in data.indicators %}
                  {% if indicator.resource_view_error %}
                    <div class="alert alert-danger" role="alert">
                      {{indicator.get('resource_view_error')}}
                    </div>
                  {% else %}
                    {% snippet 'ajax_snippets/internal_dashboard_visualization.html', research_questions=research_questions, position=indicator.order, selected_rq=indicator.research_question, selected_viz=indicator.resource_view_id, selected_size=indicator.size, viz_options=indicator.viz_options, resource_view=indicator.resource_view %}
                  {% endif %}
              {% endfor %}
          {% else %}
              {% snippet 'ajax_snippets/internal_dashboard_visualization.html', research_questions=research_questions, position=1 %}
          {% endif %}
        </div>
        <button class="btn btn-primary add-visualization-btn" data-module="knowledgehub-dashboard-add-viz-btn">{{ _('Add visualization') }}</button>
    </div>

    {% block fields_share_data %}
      <section class="shared-data">
        <h3>{{ _('Share with') }}</h3>

        {% set users = h.get_all_users() %}
        {% set shared_with_users = data.get('shared_with_users') or [] %}
        <div class="control-group">
          <label class="control-label" for="field_shared_with_users">{{ _("Users") }}</label>
          <div class="controls">
            <select id="field_shared_with_users" name="shared_with_users" data-module="autocomplete" multiple=False>
              {% for user in users  %}
              <option value="{{ user.name }}" {% if (user.name in shared_with_users) or (user.id in shared_with_users) %} selected="selected"
                {% endif %}>{{ user.display_name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% set organizations = h.get_all_organizations()%}
        <div class="control-group">
          <label class="control-label" for="field_shared_with_organizations">{{ _("Functional Units") }}</label>
          <div class="controls">
            <select id="field_shared_with_organizations" name="shared_with_organizations" data-module="autocomplete" multiple=False>
              {% for organization in organizations  %}
              <option value="{{ organization.id }}"
                {% if data.shared_with_organizations and organization.id in (data.get('shared_with_organizations') or []) %} selected="selected" {% endif %} >
                {{ organization.title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% set groups = h.get_all_groups()%}
        <div class="control-group">
          <label class="control-label" for="field_shared_with_groups">{{ _("Joint Analyses") }}</label>
          <div class="controls">
            <select id="field_shared_with_groups" name="shared_with_groups" data-module="autocomplete" multiple=False>
              {% for group in groups  %}
              <option value="{{ group.id }}"
                {% if data.shared_with_groups and group.id in (data.get('shared_with_groups') or []) %} selected="selected" {% endif %} >
                {{ group.title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        

      </section>
    {% endblock %}
  {% endblock %}

  {{ form.required_message() }}

  <div class="form-actions">
    {% block delete_button %}
      {% if h.check_access('dashboard_delete')  %}
        <a class="btn btn-danger pull-left" href="{% url_for 'dashboards.delete', id=data.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this Dashboard?') }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
      {% endif %}
    {% endblock %}
    <button class="btn btn-primary" name="save" type="submit">{% block save_text %}{{ _('Save Dashboard') }}{% endblock %}</button>
  </div>
</form>
