<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Dashboards?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %} Dashboards provide a way for the user to have an overview of data. The data is visualized in charts, maps and tables. {% endtrans %}
    </p>
  </div>
</div>
