<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What are Themes?') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
        Themes are a standalone entity used to classify the subject of the research question. They are used as primary measures for assessing progress and are usually very broad, giving space to various topics to be analyzed in detail.
        {% endtrans %}
      </p>
    </div>
  </div>