{% import 'macros/form.html' as form %}

<form id='theme-edit-form' class="dataset-form" method="post" data-module="basic-form">
  {% block error_summary %}
    {{ form.errors(error_summary) }}
  {% endblock %}

  {% block basic_fields %}
    {% set attrs = {'data-module': 'slug-preview-target', 'class': 'form-control'} %}
    {{ form.input('title', label=_('Title'), id='field-name', placeholder=_('My Theme'), value=data.title, error=errors.title, classes=['control-full'], attrs=attrs, is_required=true) }}

    {%- set prefix = h.url_for('theme.read', name='') -%}
    {%- set domain = h.url_for('theme.read', name='', qualified=true) -%}
    {% set domain = domain|replace("http://", "")|replace("https://", "") %}
    {% set attrs = {'data-module': 'slug-preview-slug', 'class': 'form-control input-sm', 'data-module-prefix': domain, 'data-module-placeholder': '<' + 'name' + '>'} %}

    {{ form.prepend('name', label=_('URL'), prepend=prefix, id='field-url', placeholder=_('my-theme'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}

    {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_('A little information about this theme...'), value=data.description, error=errors.description) }}

  {% endblock %}

  {{ form.required_message() }}

  <div class="form-actions">
    {% block delete_button %}
      {% if h.check_access('theme_create')  %}
        <a class="btn btn-danger pull-left" href="{% url_for 'theme.delete', id=data.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this Theme? Note*: Deleting cannot be performed while sub-themes or research questions belong to this theme.') }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
      {% endif %}
    {% endblock %}
    <button class="btn btn-primary" name="save" type="submit">{% block save_text %}{{ _('Save Theme') }}{% endblock %}</button>
  </div>
</form>