{% ckan_extends %}

{% block breadcrumb_content %}
  {% if pkg %}
  {% set dataset = h.dataset_display_name(pkg) %}
  {% if pkg.organization %}
    {% set organization = h.get_translated(pkg.organization, 'title') or pkg.organization.name %}
    {% set group_type = pkg.organization.type %}
    <li>{% link_for _('Functional Units'), controller='organization', action='index', named_route=group_type + '_index' %}</li>
    <li>{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name, named_route=group_type + '_read' %}</li>
  {% else %}
    <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
  {% endif %}
  <li{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), controller='package', action='read', id=pkg.name %}</li>
  {% else %}
  <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
  <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
  {% endif %}
  {% if res %}
  <li>{% link_for h.resource_display_name(res)|truncate(30), controller='package', action='resource_read', id=pkg.name, resource_id=res.id %}</li>
  <li>{% link_for _(resource_view.title)|truncate(30), controller='package', action='resource_read', id=pkg.name, resource_id=res.id, view_id=resource_view.id %}</li>
  <li{% block breadcrumb_edit_selected %} class="active"{% endblock %}><a href="">{{ _('Edit') }}</a></li>
  {% endif %}
{% endblock %}