{% resource 'knowledgehub/table' %}
{% resource 'knowledgehub/chart' %}
{% resource 'knowledgehub/javascript/user_query_result.js' %}
{% resource 'knowledgehub/javascript/filter_by_select.js' %}

{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% set query_search = c.q or '*' %}
{% set active_tab = h.get_active_tab() %}

{% if active_tab == 'research-questions' %}
{% set search_results = h.get_searched_rqs(query_search) %}
{% elif active_tab == 'visualizations' %}
{% set search_results = h.get_searched_visuals(query_search) %}
{% elif active_tab == 'dashboards' %}
{% set search_results = h.get_searched_dashboards(query_search) %}
{% else %}
{% endif %}

{% block subtitle %}
{% if active_tab == 'research-questions' %}
{{ _("Research Questions") }}
{% elif active_tab == 'visualizations' %}
{{ _("Visualizations") }}
{% elif active_tab == 'dashboards' %}
{{ _("Dashboards") }}
{% else %}
{{ _("Datasets") }}
{% endif%}
{% endblock %}

{% block content %}
{% set rqs = h.get_rq(6, 'modified_at  desc').get('data', []) %}
<!--
<div class="container-fluid rq-section">
    <div class="row flex flex-wrap">
        {% for rq in rqs %}
        <div class="col-lg-2 rq-box rq-item"
            style="flex: 1;background:linear-gradient(0deg,rgba(4, 114, 187, 0.75),rgba(4, 114, 187, 0.75)), url({{ rq.get('image_url') }}); background-blend-mode: multiply; background-size: cover;">
            <h3 class="rq-heading text-wrap">
                <a href="{% url_for 'research_question.read', name=rq.get('name') %}">{{ rq.get('title') }}</a>
                <small>Research Question</small>
            </h3>
        </div>
        {% endfor %}
    </div>
</div>
-->
 <section class="module home-content dataset-background-color">
        {#<div class="module-content search-box-wrapper">

        {% block form %}
        {% set facets = {
          'fields': c.fields_grouped,
          'search': c.search_facets,
          'titles': c.facet_titles,
          'translated_fields': c.translated_fields,
          'remove_field': c.remove_field }
        %}
        {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}

        <div class="container-fluid big-search-box">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count if active_tab == 'package' else search_results.count, placeholder=_('Search') + '...', facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
                </div>
            </div>
        </div>
        {% endblock %}
    </div> #}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                    <div class="toolbar">
                            <ol class="breadcrumb">
                                <li class="home"><a href="/"><i class="fa fa-home"></i><span> Home</span></a></li>
                                <li class="active"><a href="/dataset">Datasets</a></li>
                            </ol>
                    </div>
                <div class="row">
                    {# REMOVING DASHBOARD LIST FROM LEFT SIDE BAR
                        <div class="col-lg-3 group-list secondary dashboards">
                        <h4>DASHBOARDS</h4>
                        {% set found_dashboards = h.get_dashboards(limit=4, order_by='created_at desc') %}
                        <hr>
                        <ul class="list-unstyled nav nav-simple">
                            {% if found_dashboards %}
                            {% for dashboard in found_dashboards %}
                            <li class="nav-item">
                                <a class="dashboard-link"
                                    href="{{  h.url_for('dashboards.view', name=dashboard.name) }}">
                                    <div>
                                        <h4>{{dashboard.title}}</h4>
                                        {% set truncate = truncate or 180 %}
                                        {% set truncate_description = truncate_description or 150 %}
                                        {% set description = dashboard['description'] %}
                                        <p class="text-muted">
                                            <small>{{ h.truncate(description, truncate_description) }}</small></p>
                                        <div class="dashboard-created">
                                            <i class="fa fa-table"></i>
                                            {% if dashboard %}
                                              {% set dashboard_additional_info = h.get_single_dash(dashboard) %}
                                              {{ h.format_date(dashboard_additional_info.created_at) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                            {% else %}
                            <li class="nav-item">
                                <div>
                                    {{_('No Dashboards have been created.')}}
                                    <span class="btn btn-link">
                                        {{ h.nav_link(_('Create new Dashboard now'), named_route='dashboards.new', icon='angle-double-right') }}
                                    </span>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                        {% if found_dashboards %}
                        <div class="btn btn-link">
                            {{ h.nav_link(_('View All Dashboards'), named_route='dashboards.index', icon='angle-double-right') }}
                        </div>
                        {% endif %}
                    </div> #}
                    {# ADDED FACET #}
                    <div class="secondary col-sm-3 dataset-padding-remove">
                            {% snippet "package/snippets/helper.html" %}
                            <div id="filter">
                                <div>
                                    {% for facet in c.facet_titles %}
                                    {% if facet == 'organization' and active_tab != 'package' %}
                                    {% set facet = 'organizations' %}
                                    {% set title = 'Functional Units' %}
                                    {% else %}
                                    {% set title = c.facet_titles[facet] %}
                                    {% endif %}
                                    {% if facet == 'organization' or facet == 'tags' or facet == 'organizations' %}
                                    <section class="module module-narrow module-shallow">
                                        <h2 class="module-heading" style="margin-bottom: 5px;">
                                            <i class="fa fa-filter"></i>
                                            {% set title = title or h.get_facet_title(facet) %}
                                            {{ title }}
                                        </h2>
                                        <nav>
                                            <select name="{{ facet }}" id="{{ facet }}-package-filter" data-module="autocomplete" multiple data-placeholder="Enter {{ title }}">
                                                {% with items = items or h.get_facet_items_dict(facet) %}
                                                {% for item in items %}
                                                {% set href = h.remove_url_param(facet, item.name, extras=extras,
                                                alternative_url=alternative_url) if item.active else
                                                h.add_url_param(new_params={facet: item.name}, extras=extras,
                                                alternative_url=alternative_url) %}
                                                {% set label = label_function(item) if label_function else item.display_name %}
                                                {% set label_truncated = h.truncate(label, 22) if not label_function else label
                                                %}
                                                {% set count = count_label(item['count']) if count_label else ('%d' %
                                                item['count']) %}
                                                {% if facet.title %}
                                                <option value="{{ href }}" {% if item.active %} selected="selected" {% endif %}>
                                                    {{ item.display_name }}
                                                    <span>&#10145;</span>
                                                    <span >{{ count }}</span>
                                                </option>
                                                {% endif %}
                                                {% endfor %}
                                                {% endwith %}
                                            </select>
                                        </nav>
                                    </section>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span
                                class="text">close</span></a>
                    </div>
                    <div class="col-lg-9 group-list indicators dataset-list-padding">

                        {# <div class="group-list-items tabs-items">

                            <ul class="nav nav-tabs flex flex-wrap" id="navlinks">
                                <li class="{% if active_tab=='package' %}active{% endif %}">
                                    <a class="group-list-items tab" href="{{h.get_tab_url('package')}}">DATASETS</a>
                                </li>
                                <!--
                                <li class="{% if active_tab=='research-questions' %}active{% endif %}">
                                    <a class="group-list-items tab"
                                        href="{{h.get_tab_url('research-questions')}}">RESEARCH QUESTIONS</a>
                                </li>
                                -->
                                REMOVING DASHBOARD TAB
                                    <li class="{% if active_tab=='dashboards' %}active{% endif %}">
                                    <a class="group-list-items tab"
                                        href="{{h.get_tab_url('dashboards')}}">DASHBOARDS</a>
                                </li>
                                <!--
                                <li class="{% if active_tab=='visualizations' %}active{% endif %}">
                                    <a class="group-list-items tab"
                                        href="{{h.get_tab_url('visualizations')}}">VISUALIZATIONS</a>
                                </li>
                                -->
                            </ul>

                        </div> #}
                        {% block page_primary_action %}

                        <div class="page_primary_action">
                            {% if active_tab == 'package' and h.check_access('package_create') %}
                                {{ h.snippet ('snippets/add_dataset.html', dataset_type=dataset_type) }}
                            {% endif %}
                        </div>

                        {% endblock %}
                        {% block primary_content_inner %}
                            {% block form %}
                            {% set facets = {
                            'fields': c.fields_grouped,
                            'search': c.search_facets,
                            'titles': c.facet_titles,
                            'translated_fields': c.translated_fields,
                            'remove_field': c.remove_field }
                            %}
                            {% set sorting = [
                            (_('Relevance'), 'score desc, metadata_modified desc'),
                            (_('Name Ascending'), 'title_string asc'),
                            (_('Name Descending'), 'title_string desc'),
                            (_('Last Modified'), 'metadata_modified desc'),
                            (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
                            %}
                                {% snippet 'snippets/search_form.html', form_id='custom-dataset-search-form', type=dataset_type, query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count if active_tab == 'package' else search_results.count, placeholder=_('Search datasets') + '...', facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
                            {% endblock %}
                        {% endblock %}

                        {% block package_search_results_list %}
                        {% if active_tab == 'package' %}
                        <div id="package_list" class="tab_content">
                            {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
                        </div>
                        {% endif %}
                        {% if active_tab == 'research-questions' %}
                        <div id="hidden_rqs" class="tab_content">
                            {% if search_results.count %}
                            {% set count_rqs = search_results.count %}
                            <div class="row">
                                {% for rq in search_results.results %}
                                <div class="col-sm-6" id="tabs-rqs">
                                    <div class="rq-box"
                                        style="background:linear-gradient(0deg,rgba(4, 114, 187, 0.75),rgba(4, 114, 187, 0.75)), url({{ rq.get('image_url') }}); background-blend-mode: multiply; background-size: cover;">
                                        <h3 class="rq-heading text-wrap">
                                            <a
                                                href="{% url_for 'research_question.read', name=rq.get('name') %}">{{ rq.get('title') }}</a>
                                            <small>Research Question</small>
                                        </h3>
                                        <input type="hidden" id="rq-id" name="rq-id" value="{{ rq.get('id') }}">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{_('There are no research questions found for the selected query.') }}
                            {% endif %}

                        </div>
                        {% endif %}

                        {% if active_tab == 'visualizations' %}
                        <div id="hidden_visuals" class="tab_content">
                            {% if search_results.count %}
                            {% set count_vis = search_results.count %}
                            <div class="flex flex-wrap" id="tabs-visualizations">
                                {% set vis = search_results.results %}
                                {% for resource_view in vis %}
                                <div class="col-xs-12 visualizations">
                                    {% if resource_view.view_type == 'chart' %}
                                    {% set chart_id = resource_view.id %}
                                    {% if resource_view.__extras %}
                                    {% set colors = resource_view.__extras.color %}
                                    {% set x_axis = resource_view.__extras.x_axis %}
                                    {% set y_axis = resource_view.__extras.y_axis %}
                                    {% set additional_tornado_value = resource_view.__extras.additional_tornado_value %}
                                    {% set chart_type = resource_view.__extras.type %}
                                    {% set title = resource_view.title %}
                                    {% set chart_subtitle = resource_view.__extras.chart_subtitle %}
                                    {% set chart_description = resource_view.__extras.chart_description %}
                                    {% set show_legend = resource_view.__extras.show_legend %}
                                    {% set x_text_rotate = resource_view.__extras.x_text_rotate %}
                                    {% set x_text_multiline = resource_view.__extras.x_text_multiline %}
                                    {% set tooltip_name = resource_view.__extras.tooltip_name %}
                                    {% set data_format = resource_view.__extras.data_format %}
                                    {% set y_tick_format = resource_view.__extras.y_tick_format %}
                                    {% set chart_padding_left = resource_view.__extras.chart_padding_left %}
                                    {% set chart_padding_bottom = resource_view.__extras.chart_padding_bottom %}
                                    {% set padding_bottom = resource_view.__extras.padding_bottom %}
                                    {% set padding_top = resource_view.__extras.padding_top %}
                                    {% set tick_count = resource_view.__extras.tick_count %}
                                    {% set show_labels = resource_view.__extras.show_labels %}
                                    {% set y_label = resource_view.__extras.y_label %}
                                    {% set y_from_zero = resource_view.__extras.y_from_zero %}
                                    {% set data_sort = resource_view.__extras.sort %}
                                    {% set filters = resource_view.__extras.filters %}
                                    {% set category_name = resource_view.__extras.category_name %}
                                    {% set dynamic_reference_type = resource_view.__extras.dynamic_reference_type %}
                                    {% set dynamic_reference_factor = resource_view.__extras.dynamic_reference_factor %}
                                    {% set dynamic_reference_label = resource_view.__extras.dynamic_reference_label %}
                                    {% set sql_string = resource_view.__extras.sql_string %}
                                    {% endif %}
                                    {% snippet 'ajax_snippets/chart_module.html',
                                                            type='chart',
                                                            chart_id = chart_id,
                                                            colors=colors,
                                                            x_axis=x_axis,
                                                            y_axis=y_axis,
                                                            additional_tornado_value = additional_tornado_value,
                                                            chart_type=chart_type,
                                                            sql_string=sql_string,
                                                            title=title,
                                                            chart_subtitle=chart_subtitle,
                                                            chart_description=chart_description,
                                                            show_legend = show_legend,
                                                            x_text_rotate= 0,
                                                            x_text_multiline= x_text_multiline,
                                                            tooltip_name = tooltip_name,
                                                            data_format = data_format,
                                                            y_tick_format = y_tick_format,
                                                            chart_padding_left = chart_padding_left,
                                                            chart_padding_bottom = chart_padding_bottom,
                                                            padding_bottom = padding_bottom,
                                                            padding_top = padding_top,
                                                            tick_count = tick_count,
                                                            show_labels = show_labels,
                                                            y_label = y_label,
                                                            y_from_zero = y_from_zero,
                                                            data_sort = data_sort,
                                                            filters = filters,
                                                            category_name=category_name,
                                                            measure_label=measure_label,
                                                            dynamic_reference_type=dynamic_reference_type,
                                                            dynamic_reference_factor=dynamic_reference_factor,
                                                            dynamic_reference_label=dynamic_reference_label
                                                        %}
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ "There are no visualizations found for the selected query. "}}
                            {% endif %}
                        </div>
                        {% endif %}

                        {% if active_tab == 'dashboards' %}
                        <div id="hidden_dashs" class="tab_content">
                            {% if search_results.count %}
                            {% set dashes = search_results.results %}
                            {% set count_dash = search_results.count %}
                            <ul class="dataset-list list-unstyled">
                                {% for dashboard in dashes %}

                                <li class="dataset-item">
                                    <div id="tabs-dashboards" class="dataset-content">
                                        {% set additional_info_dash = h.get_single_dash(dashboard) %}
                                        {% if additional_info_dash.type == 'internal' %}
                                          {% set dashboard_type = 'metrics' %}
                                        {% elif additional_info_dash.type == 'external' %}
                                          {% set dashboard_type = 'power bi' %}
                                        {% else %}
                                          {% set dashboard_type = additional_info_dash.type %}
                                        {% endif %}
                                        <h3 class="dataset-heading text-ellipsis dashboard-heading">
                                            <span
                                                class="dataset-private label label-info text-ellipsis">{{ dashboard_type }}</span>
                                            <a
                                                href="{{ h.url_for('dashboards.view', name=dashboard.name) }}">{{ dashboard.title }}</a>
                                        </h3>
                                        {% set truncate = truncate or 180 %}
                                        {% set truncate_description = truncate_description or 150 %}
                                        {% set description = dashboard['description'] %}
                                        <p class="text-muted">
                                            <small>{{ h.truncate(description, truncate_description) }}</small>
                                        </p>
                                        {% if additional_info_dash.tags %}
                                        <div class="row flex flex-wrap dataset-tag-wrapper">
                                            {% for tag in additional_info_dash.get('tags', '').split(',') %}
                                            <div class="dataset-tag mr-2">{{ tag }}</div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <h5 class="dataset-text-wrap text-muted">
                                            <span style="color: #000">Date created:</span>
                                            <span
                                                class="text-muted">{{ h.format_date(additional_info_dash.created_at) }}</span>
                                        </h5>

                                        {% if dashboard.organizations %}
                                        <h5 class="dataset-text-wrap text-muted">
                                            <span style="color: #000">Functional Units:</span>
                                            {% for org in dashboard.get('organizations', []) %}
                                            <span class="text-muted text-capitalize">{{ org }} </span>
                                            {% endfor %}
                                        </h5>
                                        {% endif %}


                                        <input type="hidden" id="dashboard-id" name="dashboard-id"
                                            value="{{ dashboard.id }}">
                                    </div>
                                </li>

                                {% endfor %}
                            </ul>
                            {% else %}
                            {{_('There are no dashboards found for the selected query.') }}
                            {% endif %}

                        </div>
                        {% endif %}
                        {% endblock %}
                    </div>

                    {% block secondary_content %}
                    {# <div class="filters col-lg-2" id="filter">
                        <div>
                           This is the OLD UI code.

                            {% for facet in c.facet_titles %}
                            {% if facet == 'organization' and active_tab != 'package' %}
                            {% set facet = 'organizations' %}
                            {% set title = 'Functional Units' %}
                            {% else %}
                            {% set title = c.facet_titles[facet] %}
                            {% endif %}
                            {{ h.snippet('snippets/facet_list.html', title=title, name=facet) }}
                            {% endfor %}

                            OLD UI code ends here

                            {% for facet in c.facet_titles %}
                            {% if facet == 'organization' and active_tab != 'package' %}
                            {% set facet = 'organizations' %}
                            {% set title = 'Functional Units' %}
                            {% else %}
                            {% set title = c.facet_titles[facet] %}
                            {% endif %}
                            {% if facet == 'organization' or facet == 'tags' or facet == 'organizations' %}
                            <section class="module module-narrow module-shallow">
                                <h2 class="module-heading" style="margin-bottom: 5px;">
                                    <i class="fa fa-filter"></i>
                                    {% set title = title or h.get_facet_title(facet) %}
                                    {{ title }}
                                </h2>
                                <nav>
                                    <select name="{{ facet }}" id="{{ facet }}-filter" data-module="autocomplete" multiple data-placeholder="Enter {{ title }}">
                                        {% with items = items or h.get_facet_items_dict(facet) %}
                                        {% for item in items %}
                                        {% set href = h.remove_url_param(facet, item.name, extras=extras,
                                        alternative_url=alternative_url) if item.active else
                                        h.add_url_param(new_params={facet: item.name}, extras=extras,
                                        alternative_url=alternative_url) %}
                                        {% set label = label_function(item) if label_function else item.display_name %}
                                        {% set label_truncated = h.truncate(label, 22) if not label_function else label
                                        %}
                                        {% set count = count_label(item['count']) if count_label else ('%d' %
                                        item['count']) %}
                                        {% if facet.title %}
                                        <option value="{{ href }}" {% if item.active %} selected="selected" {% endif %}>
                                            {{ item.display_name }}
                                            <span>&#10145;</span>
                                            <span >{{ count }}</span>
                                        </option>
                                        {% endif %}
                                        {% endfor %}
                                        {% endwith %}
                                    </select>
                                </nav>
                            </section>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span
                                class="text">close</span></a>
                    </div> #}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block page_pagination %}
    {% if active_tab == 'package' %}
    {{ c.page.pager(q=c.q) }}
    {% else %}
    {{ search_results.pager.pager(q=c.q) }}
    {% endif %}
    {% endblock %}
</section>

{% block package_search_results_api %}
{% endblock %}
<div class="container-fluid visualization-section dataset-background-color">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 title">
            <h4>VISUALIZATIONS</h4>

        </div>
        {% if h.get_last_visuals() %}
        <div class="col-lg-10 col-lg-offset-1 visualizations">
            <div class="visualization-wrapper">
                <div class="row justify-content-md-center resource-view">
                    {% set vis = h.get_last_visuals() %}
                    {% for resource_view in vis %}
                    <div class="col-lg-3">
                        {% if resource_view.view_type == 'chart' %}
                        {% set chart_id = resource_view.id %}
                        {% if resource_view.__extras %}
                        {% set colors = resource_view.__extras.color %}
                        {% set x_axis = resource_view.__extras.x_axis %}
                        {% set y_axis = resource_view.__extras.y_axis %}
                        {% set additional_tornado_value = resource_view.__extras.additional_tornado_value %}
                        {% set chart_type = resource_view.__extras.type %}
                        {% set title = resource_view.title %}
                        {% set chart_subtitle = resource_view.__extras.chart_subtitle %}
                        {% set chart_description = resource_view.__extras.chart_description %}
                        {% set show_legend = resource_view.__extras.show_legend %}
                        {% set x_text_rotate = resource_view.__extras.x_text_rotate %}
                        {% set x_text_multiline = resource_view.__extras.x_text_multiline %}
                        {% set tooltip_name = resource_view.__extras.tooltip_name %}
                        {% set data_format = resource_view.__extras.data_format %}
                        {% set y_tick_format = resource_view.__extras.y_tick_format %}
                        {% set chart_padding_left = resource_view.__extras.chart_padding_left %}
                        {% set chart_padding_bottom = resource_view.__extras.chart_padding_bottom %}
                        {% set padding_bottom = resource_view.__extras.padding_bottom %}
                        {% set padding_top = resource_view.__extras.padding_top %}
                        {% set tick_count = resource_view.__extras.tick_count %}
                        {% set show_labels = resource_view.__extras.show_labels %}
                        {% set y_label = resource_view.__extras.y_label %}
                        {% set y_from_zero = resource_view.__extras.y_from_zero %}
                        {% set data_sort = resource_view.__extras.sort %}
                        {% set filters = resource_view.__extras.filters %}
                        {% set category_name = resource_view.__extras.category_name %}
                        {% set dynamic_reference_type = resource_view.__extras.dynamic_reference_type %}
                        {% set dynamic_reference_factor = resource_view.__extras.dynamic_reference_factor %}
                        {% set dynamic_reference_label = resource_view.__extras.dynamic_reference_label %}
                        {% set sql_string = resource_view.__extras.sql_string %}
                        {% endif %}
                        {% snippet 'ajax_snippets/chart_module.html',
                                    type='chart',
                                    chart_id = chart_id,
                                    colors=colors,
                                    x_axis=x_axis,
                                    y_axis=y_axis,
                                    additional_tornado_value = additional_tornado_value,
                                    chart_type=chart_type,
                                    sql_string=sql_string,
                                    title=title,
                                    chart_subtitle=chart_subtitle,
                                    chart_description=chart_description,
                                    show_legend = show_legend,
                                    x_text_rotate= 0,
                                    x_text_multiline= x_text_multiline,
                                    tooltip_name = tooltip_name,
                                    data_format = data_format,
                                    y_tick_format = y_tick_format,
                                    chart_padding_left = chart_padding_left,
                                    chart_padding_bottom = chart_padding_bottom,
                                    padding_bottom = padding_bottom,
                                    padding_top = padding_top,
                                    tick_count = tick_count,
                                    show_labels = show_labels,
                                    y_label = y_label,
                                    y_from_zero = y_from_zero,
                                    data_sort = data_sort,
                                    filters = filters,
                                    category_name=category_name,
                                    measure_label=measure_label,
                                    dynamic_reference_type=dynamic_reference_type,
                                    dynamic_reference_factor=dynamic_reference_factor,
                                    dynamic_reference_label=dynamic_reference_label
                                %}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <div class=" col-lg-10 col-lg-offset-1">
            <div class="no-items"> There are no visualizations created yet.</div>
        </div>
        {% endif %}

        <input type="hidden" id="user-id" value="{{ c.userobj.id }}">
    </div>
</div>
{% endblock %}
