{# Snippet to render comments to a component.
    The comments is a self-contained component that can be attached to any entity
    on the portal. The comments are related to the entity ID via the 'ref' parameter.
    Once attached to the enitity it will render fully featured comments with replies.

    The reply behaviour is controlled by a flag 'enable_multilevel_replies' which
    determines whether the replies thread is a single level deep, or a full multi-level
    replies thread.

    An example of the usage:

        <div>
            <h1>{{pkg.title}}</h1>
            <div>
                {{pkg.content}}
            </div>
            <div>
                <!-- we want to render comments here-->
                {% snippet 'snippets/comments.html', user=user, ref=pkg.id %}
            </div>
        </div>

    
    Parameters:
        * 'ref', required, the ID of the entity that is being commented on. Ususally the dataset
            ID, or post ID
        * 'user', required, current user as dict. Must contain: 'id', 'display_name' and 'email_hash'.
            Used to render the user name and gravatar.
        * 'enable_multilevel_replies', optional, if set to True, the replies can go multiple levels - 
            there can be a reply to a reply and so on. This is rendered appropriately.
            If set to False, then all replies are to the top level comment and a Reply to a reply
            just adds the comment as a last reply to the top level comment.
#}
{% resource 'knowledgehub/comments' %}
{% resource 'knowledgehub/mentions' %}
{% set enable_multilevel_replies = enable_multilevel_replies if not none else False %}
{% set ref_type = ref_type if not none else 'post' %}
{% set user = user if not none else {'id': '', 'display_name': 'Not logged in', 'email_hash': ''}%}
<div class="container-fluid comments-wrapper"
     user="{{user.id}}"
     show-comments-for="{{ref}}"
     ref-type="{{ref_type}}"
     {%if enable_multilevel_replies %} enable-multilevel-replies="true" {% endif %}>
    <div class="row">
        <div class="col-md-12 add-new-comment"></div>
    </div>
    <div class="row">
        <div class="col-md-12 comments-container">
            <div class="no-comments">
                {{ _('There are no comments.') }}
            </div>
        </div>
    </div>
    <div class="row loading-comments">
        <div class="col-md-12 loader">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>
</div>

<div class="comments-templates" style="display: none;">
    <div class="container-fluid comment-template comment-box">
        <div class="comment-main">
            <div class="row">
                <div class="col-md-12 comment-info">
                    <image class="gravatar" src=""></image>
                    <div class="info-data">
                        <div class="comment-user">
                            <span class="user-name">User Name</span>
                            <div class="btn-group pull-right comment-actions">
                                <button class="btn btn-default btn-inverse action-edit"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-inverse action-delete"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                        <div class="comment-time"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 comment-content"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default btn-inverse action-reply"><i class="fa fa-reply"></i> Reply</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 reply-box-container"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn-link btn-default action-show-more-replies pull-left">Show all replies</button>
                </div>
            </div>
        </div>
        <div class="row comments-thread">
            <div class="col-md-12 replies-container comments-container quote">
            </div>
        </div>
    </div>

    <div class="container-fluid add-comment-box add-comment-template">
        <div class="row">
            <div class="col-md-12 comment-input">
                {{ h.gravatar((user.email_hash if user.email_hash else ''), size=32) }}
                <textarea type="text" class="form-control comment-content" 
                       placeholder="{{_('Commenting as {}...').format(user.display_name or user.name)}}"
                       mentions='true'></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="status"></div>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <button class="btn-link btn-default action-cancel">Cancel</button>
                    <button class="btn btn-default action-ok">Comment</button>
                </div>
                
            </div>
        </div>
    </div>

    <div class="comment-deleted-content">
        <i class="fa fa-minus-circle"></i> {{ _('Comment was deleted') }}
    </div>

    <div class="modal prompt-template" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                <span class="title-content"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </h5>
            </div>
            <div class="modal-body">
              <p></p>
            </div>
            <div class="modal-footer">
              <span class="status"></span>
              <button type="button" class="btn btn-primary action-ok">OK</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <span class="generic-loader"><i class="fa fa-circle-o-notch fa-spin"></i></span>
</div>