{% ckan_extends %}
{% block info %}
      <div class="module module-narrow module-shallow context-info">
        {% if has_context_title %}
          <h2 class="module-heading"><i class="fa fa-building-o"></i> {{ _('Functional Unit') }}</h2>
        {% endif %}
    <section class="module-content">
      {% block inner %}
      {% block image %}
        <div class="image">
          <a href="{{ url }}">
            <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" width="200" alt="{{ organization.name }}" />
          </a>
        </div>
      {% endblock %}
      {% block heading %}
      {{ super() }}
      {% endblock %}
    {% block description %}
    {% if organization.description %}
      <p>
        {{ h.markdown_extract(organization.description, 180) }}
        {% link_for _('read more'), controller='organization', action='about', id=organization.name %}
      </p>
    {% else %}
      <p class="empty">{{ _('There is no description for this functional unit') }}</p>
    {% endif %}
    {% endblock %}
    {% if show_nums %}
        {% block nums %}
        {{ super () }}
        {% endblock %}
        {% block follow %}
        {{ super() }}
        {% endblock %}
    {% endif %}
    {% endblock %}
{% endblock %}