{% ckan_extends %}

{% block heading %}
<h3 class="dataset-heading ">
    {% block heading_private %}
    {% if package.private %}
    <span class="dataset-private label label-inverse text-ellipsis">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
    </span>
    {% endif %}
    {% endblock %}
    {% block heading_title %}
    {{ h.link_to(h.truncate(title, truncate_title), h.url_for(package.type + '_read', controller='package', action='read', id=package.name)) }}
    {% endblock %}
    {% block heading_meta %}
    {% if package.get('state', '').startswith('draft') %}
    <span class="label label-info">{{ _('Draft') }}</span>
    {% elif package.get('state', '').startswith('deleted') %}
    <span class="label label-danger">{{ _('Deleted') }}</span>
    {% endif %}
    {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
    {% endblock %}
</h3>
{% endblock %}

{% block notes %}
{% if package.tags %}
<div class="row flex flex-wrap dataset-tag-wrapper">
    {% for tag in package.tags %}
    <div class="dataset-tag mr-2">{{ tag.name }}</div>
    {% endfor %}
</div>
{% endif %}
<!-- {% if package.research_question %}
<div>
    <div class="data-content border-bottom">
        {% set questions = h.pg_array_to_py_list(package.research_question) %}
        {% for question in questions %}
            {% set r_question = h.get_single_rq(question) %}
            {% if r_question %}
                <a href="{% url_for 'research_question.read', name=r_question.get('name') %}">
                <h5 class="dataset-text-wrap text-muted"><span style="color: #000">Research Question:
                </span><span class="text-muted">{{r_question.title}}</span></h5></a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %} -->
{% if package.metadata_created %}
<h5 class="dataset-text-wrap text-muted"><span style="color: #000">Date created:
    </span><span class="text-muted">{{ h.format_date(package.metadata_created) }}</span></h5></a>
{% endif %}

{% if package.country_code_displacement %}
{% if ',' in package.country_code_displacement %}
{% set country_code_displacement = package.country_code_displacement[1:-1] %}
{% else %}
{% set country_code_displacement = package.country_code_displacement %}
{% endif %}
<h5 class="dataset-text-wrap text-muted"><span style="color: #000">Country of displacement:
    </span><span class="text-muted text-word-wrap">{{ country_code_displacement }}</span></h5></a>
{% endif %}

{% if package.country_code_origin %}

{% if ',' in package.country_code_origin %}
{% set country_code_origin = package.country_code_origin[1:-1] %}
{% else %}
{% set country_code_origin = package.country_code_origin %}
{% endif %}

<h5 class="dataset-text-wrap text-muted"><span style="color: #000">Country of origin:
    </span><span class="text-muted text-word-wrap">{{ country_code_origin }}</span></h5></a>
{% endif %}

{% if package.organization %}
<h5 class="dataset-text-wrap text-muted"><span style="color: #000">Functional unit:
    </span><span class="text-muted">{{ package.organization.title }}</span></h5></a>
{% endif %}

{% if package.author %}
<h5 class="dataset-text-wrap text-muted"><span style="color: #000">Author:
    </span><span class="text-muted">{{ package.author }}</span></h5></a>
{% endif %}

<input type="hidden" id="dataset-id" name="dataset_id" value="{{ package.id }}">

{% endblock %}
