{% resource 'knowledgehub/javascript/search_prediction.js' %}

{% ckan_extends %}

{% set no_sorting = no_sorting if not none%}

{% block search_sortby %}
  {% if no_sorting %}
  {% else %}
  {{ super() }}
    {% if h.get_active_tab() != 'package' %}
      <input type="hidden" name="_search-for" value="{{h.get_active_tab()}}">
    {% endif %}
  {% endif %}
{% endblock %}

{% block search_input %}
  <div class="input-group search-input-group">
    <input aria-label="{% block header_site_search_label %}{{ placeholder }}{% endblock %}" id="field-giant-search" type="text" class="form-control input-lg" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
    {% block search_input_button %}
    <span class="input-group-btn">
      <button class="btn btn-default btn-lg" type="submit" value="search">
        <i class="fa fa-search"></i>
      </button>
    </span>
    {% endblock %}
  </div>
{% endblock %}