{% resource 'knowledgehub/map' %}
{% resource 'knowledgehub/javascript/modules/data_transformation.js' %}
{% resource 'knowledgehub/javascript/rqs_selection.js' %}

{% import 'macros/form.html' as form %}

{% if data %}
{% set map = data.__extras or {} %}
{% set filters = data.__extras.filters or [] %}
{% set default_sql_string = data.__extras.sql_string or [] %}
{% else %}
{% set map = {} %}
{% set filters = [] %}
{% endif %}

{% snippet 'snippets/data_transformation.html', res=res, filters=filters, default_sql_string=default_sql_string %}

<div id="map_field" class="item map_field visualization-fields-section">
  <div class="item-wrapper">
    <div class="accordion" id="map_fields_accordion">
        {# General #}
      <div class="accordion-group">
        <div class="accordion-heading accordion-opened">
          <a href="#map_fields_accordion_general" class="accordion-toggle" data-toggle="collapse" data-parent="#map_fields_accordion"><i class="fa fa-list-ul"></i>
          {{ _('General') }}</a>
        </div>
        <div id="map_fields_accordion_general" class="accordion-body collapse in">
          <div class="accordion-inner">

            {# Title #} {% if data %} {% set map_title = data.title %} {% endif %}
            <div class="control-group title">
              <label class="control-label" for="map_field_title">{{ _('Title') }}</label>
              <div class="controls input-controls">
                  <input id="map_field_title" type="text" name="map_field_title" value="{{ map_title }}" placeholder="{{ _('Map title') }}" required="required">
              </div>
            </div>

            <div class="control-group title">
              <label class="control-label" for="map_field_subtitle">{{ _('Subtitle') }}</label>
              <div class="controls input-controls">
                  <input id="map_field_subtitle" type="text" name="map_field_subtitle" value="{{ map.map_subtitle }}" placeholder="{{ _('Map subtitle') }}" maxlength="100" required="required">
              </div>
            </div>

            <div class="control-group title">
              <label class="control-label" for="map_field_description">{{ _('Description') }}</label>
              <div class="controls input-controls">
                  <input id="map_field_description" type="text" name="map_field_description" value="{{ map.map_description }}" placeholder="{{ _('Map description') }}" maxlength="100" required="required">
              </div>
            </div>
            {% set resources = h.knowledgehub_get_geojson_resources() %}
            <div class="control-group control-select">
              <label class="control-label" for="map_resource">{{ _('Map resource') }}</label>
              <div class="controls ">
                <select id="map_resource" name="map_resource" required=required>
                <option value="">&mdash; {{ _('Select map resource') }} &mdash;</option>
                {% for resource in resources %}
                  {% set isSelected = map and h.knowledgehub_get_dataset_url_path(map.map_resource) == h.knowledgehub_get_dataset_url_path(resource.value) %}
                  <option value="{{ resource.value }}" {% if isSelected  %}selected{% endif %} >{{resource.text}}</option>
                {% endfor %}
                </select>
              </div>
            </div>
            {% if map %}
              {% set map_properties = h.knowledgehub_get_geojson_properties(map.map_resource, c.user) %}
            {% else %}
              {% set map_properties = [] %}
            {% endif %}
            <div class="control-group control-select">
            <label class="control-label" for="map_key_field">{{ _('Map key field') }}</label>
            <div class="controls ">
              <select id="map_key_field" name="map_key_field" required=required>
              <option value="">&mdash; {{ _('Select map key field') }} &mdash;</option>
              {% if map_properties %}
                {% for property in map_properties %}
                  <option value="{{ property.value }}" {% if map %}{{ 'selected' if property.value == map.map_key_field }}{% endif %} >{{property.text}}</option>
                {% endfor %}
              {% endif %}
              </select>
            </div>
          </div>

          {% set columns = h.get_resource_columns(res['id'], []) %}
          <div class="control-group control-select">
            <label class="control-label" for="data_key_field">{{ _('Data key field') }}</label>
            <div class="controls ">
              <select id="data_key_field" name="data_key_field" required=required>
                <option value="">&mdash; {{ _('Select data key field') }} &mdash;</option>
                {% for column in columns %}
                <option value="{{column}}"{% if map %}{{ 'selected' if column == map.data_key_field }}{% endif %}>{{column}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          {% set value_fields = h.get_resource_numeric_columns(res['id']) %}
          <div class="control-group control-select">
            <label class="control-label" for="data_value_field">{{ _('Data value field') }}</label>
            <div class="controls ">
              <select id="data_value_field" name="data_value_field" required=required>
                <option value="">&mdash; {{ _('Select data value field') }} &mdash;</option>
                {% for field in value_fields %}
                <option value="{{field}}"{% if map %}{{ 'selected' if field == map.data_value_field }}{% endif %}>{{field}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          {# RQs List #}
            {% set dict = {} %}
            {% for k in h.get_rq_options(context) %}
              {% if map %}
                {% if map.research_questions is iterable and map.research_questions is not string %}
                  {% for m in map.research_questions %}
                    {% if k.text == m %}
                      {% set new_item = dict.__setitem__(k.text, "True") %}
                    {% endif %}
                  {% endfor %}
                {% else %}
                  {% if map.research_questions == k.text %}
                    {% set new_item = dict.__setitem__(k.text, "True") %}
                  {% endif %}
                {% endif %}
                {% if not dict[k.text] %}
                  {% set new_item = dict.__setitem__(k.text, "False") %}
                {% endif %}

              {% else %}
                {% set new_item = dict.__setitem__(k.text, "False") %}
              {% endif %}
            {% endfor %}
            <div class="rs-questions">
              <label class="control-label" for="map_research_questions">{{_('Research Questions')}}</label>
              <select name="map_research_questions" id="map_research_questions" multiple="multiple" type="hidden">
                  {% for k,v in dict.items() %}
                  <option value="{{ k }}"
                  {% if map %} {{ 'selected' if v == 'True'}} {% endif %}>{{ k }}</option>
                {% endfor %}
              </select>

              {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
              {{ form.input('tags', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tags, classes=['control-full'], attrs=tag_attrs) }}
            </div>

          </div>
        </div>
      </div>
      </div>
  </div>
</div>

<div class="flash-messages">
  {% block flash_inner %}
    {% for message in h.flash.pop_messages() | list %}
      <div class="alert alert-warning fade in {{ message.category }}">
        {{ h.literal(message) }}
      </div>
    {% endfor %}
  {% endblock %}
</div>

<div class="preview-wrapper custom-width">
   {% if map %}
    {% set map_title=data.title %}
    {% set map_subtitle=map.map_subtitle %}
    {% set map_description=map.map_description %}
    {% set map_resource=map.map_resource %}
    {% set map_key_field=map.map_key_field %}
    {% set data_key_field=map.data_key_field %}
    {% set data_value_field=map.data_value_field %}
    {% set sql_string=map.sql_string %}
  {% endif %}
  {% set map_config = h.knowledgehub_get_map_config() %}
  {% snippet 'ajax_snippets/map_module.html',
    map_title=map_title,
    map_subtitle=map_subtitle,
    map_description=map_description,
    map_config=map_config,
    map_resource=map_resource,
    map_key_field=map_key_field,
    data_key_field=data_key_field,
    data_value_field=data_value_field,
    sql_string=sql_string
  %}

</div>