{% import 'macros/form.html' as form %}

{% resource 'knowledgehub/javascript/modules/dashboard_viz_rq.js' %}
{% resource 'knowledgehub/javascript/modules/dashboard_viz_select.js' %}
{% resource 'knowledgehub/javascript/modules/dashboard_remove_viz_btn.js' %}

<div class="internal-dashboard-viz-container-item" data-viz-position="{{ position }}">
    <h4 class="internal-dashboard-viz-container-item-header">{{ position }}.</h4>
    <button class="btn btn-danger pull-right remove-viz-btn-internal-dashboard" type="button" data-module="knowledgehub-dashboard-remove-viz-btn"><i class="fa fa-trash-o" aria-hidden="true"></i>{{ _('Remove') }}</button>
    {% set research_questions = research_questions %}
    {% set rq_attrs = {'data-module': 'knowledgehub-dashboard-viz-rq', 'data-module-position': position, 'class': 'form-control', 'required': ''} %}
    {% set rq_form_name = 'research_question_' ~ position %}
    {{ form.select(rq_form_name, label=_('Research question'), options=research_questions, selected=selected_rq, is_required=true, attrs=rq_attrs) }}
    <div class="internal-dashboard-viz-dropdown" {% if selected_viz %} style="display: block" {% endif %}>
        {% set viz_attrs = {'data-module': 'knowledgehub-dashboard-viz-select', 'data-module-position': position, 'class': 'form-control', 'required': ''} %}
        {% set viz_form_name = 'visualization_' ~ position %}
        {{ form.select(viz_form_name, label=_('Visualization'), options=viz_options, selected=selected_viz, is_required=true, attrs=viz_attrs) }}
    </div>
    <div class="internal-dashboard-size-dropdown" {% if selected_size %} style="display: block" {% endif %}>
        {% set sizes = h.get_visualization_size() %}
        {% set size_form_name = 'size_' ~ position %}
        {% set size_attrs = {'data-module': 'knowledgehub-dashboard-size-select', 'data-module-position': position, 'class': 'form-control', 'required': ''} %}
        {{ form.select(size_form_name, label=_('Size'), options=sizes, selected=selected_size or sizes[0].value, is_required=true, attrs=size_attrs) }}
    </div>
    {% set map_config = h.knowledgehub_get_map_config() %}
    <div data-map-config="{{ map_config }}"></div>
    <div class="internal-dashboard-viz-container-item-view">
        {% if selected_viz %}
            {% if resource_view.view_type == 'chart' %}
              {% if resource_view and resource_view.__extras %}
                {% set colors = resource_view.__extras.color %}
                {% set x_axis = resource_view.__extras.x_axis %}
                {% set y_axis = resource_view.__extras.y_axis %}
                {% set chart_type = resource_view.__extras.type %}
                {% set title = resource_view.title %}
                {% set chart_subtitle = resource_view.__extras.chart_subtitle %}
                {% set chart_description = resource_view.__extras.chart_description %}
                {% set show_legend = resource_view.__extras.show_legend %}
                {% set x_text_rotate = resource_view.__extras.x_text_rotate %}
                {% set x_text_multiline = resource_view.__extras.x_text_multiline %}
                {% set tooltip_name = resource_view.__extras.tooltip_name %}
                {% set data_format = resource_view.__extras.data_format %}
                {% set y_tick_format = resource_view.__extras.y_tick_format %}
                {% set chart_padding_left = resource_view.__extras.chart_padding_left %}
                {% set chart_padding_bottom = resource_view.__extras.chart_padding_bottom %}
                {% set padding_bottom = resource_view.__extras.padding_bottom %}
                {% set padding_top = resource_view.__extras.padding_top %}
                {% set tick_count = resource_view.__extras.tick_count %}
                {% set show_labels = resource_view.__extras.show_labels %}
                {% set y_label = resource_view.__extras.y_label %}
                {% set y_from_zero = resource_view.__extras.y_from_zero %}
                {% set data_sort = resource_view.__extras.sort %}
                {% set filters = resource_view.__extras.filters %}
                {% set category_name = resource_view.__extras.category_name %}
                {% set dynamic_reference_type = resource_view.__extras.dynamic_reference_type %}
                {% set dynamic_reference_factor = resource_view.__extras.dynamic_reference_factor %}
                {% set dynamic_reference_label = resource_view.__extras.dynamic_reference_label %}
                {% set sql_string = resource_view.__extras.sql_string %}
              {% endif %}
              {% snippet 'ajax_snippets/chart_module.html',
                  type='chart',
                  colors=colors,
                  x_axis=x_axis,
                  y_axis=y_axis,
                  additional_tornado_value = additional_tornado_value,
                  chart_type=chart_type,
                  sql_string=sql_string,
                  title=title,
                  chart_subtitle=chart_subtitle,
                  chart_description=chart_description,
                  show_legend = show_legend,
                  x_text_rotate= x_text_rotate,
                  x_text_multiline= x_text_multiline,
                  tooltip_name = tooltip_name,
                  data_format = data_format,
                  y_tick_format = y_tick_format,
                  chart_padding_left = chart_padding_left,
                  chart_padding_bottom = chart_padding_bottom,
                  padding_bottom = padding_bottom,
                  padding_top = padding_top,
                  tick_count = tick_count,
                  show_labels = show_labels,
                  y_label = y_label,
                  y_from_zero = y_from_zero,
                  data_sort = data_sort,
                  filters = filters,
                  category_name=category_name,
                  measure_label=measure_label,
                  dynamic_reference_type=dynamic_reference_type,
                  dynamic_reference_factor=dynamic_reference_factor,
                  dynamic_reference_label=dynamic_reference_label %}

            {% elif resource_view.view_type == 'table'  %}

                {% if resource_view and resource_view.__extras %}
                  {% set main_value = resource_view.__extras.main_value %}
                  {% set y_axis = resource_view.__extras.y_axis %}
                  {% set sql_string = resource_view.__extras.sql_string %}
                  {% set category_name = resource_view.__extras.category_name %}
                  {% set data_format = resource_view.__extras.data_format %}
                  {% set data_type = resource_view.__extras.data_type %}
                  {% set table_title = resource_view.title %}
                  {% set table_subtitle = resource_view.__extras.table_subtitle %}
                  {% set table_description = resource_view.__extras.table_description %}
                  {% set resource_name = resource_view.__extras.resource_name %}
                  {% set resource_id = resource_view.id %}
                {% endif %}
                  {% snippet 'ajax_snippets/table_module.html',
                    sql_string = sql_string,
                    resource_id = resource_id,
                    resource_name = resource_name,
                    y_axis = y_axis,
                    main_value = main_value,
                    category_name = category_name,
                    data_format = data_format,
                    data_type = data_type,
                    table_subtitle = table_subtitle,
                    table_description = table_description,
                    table_title = table_title %}

            {% elif resource_view.view_type == 'map'  %}

                {% if resource_view and resource_view.__extras %}
                  {% set map_subtitle=resource_view.__extras.map_subtitle %}
                  {% set map_description=resource_view.__extras.map_description %}
                  {% set map_resource=resource_view.__extras.map_resource %}
                  {% set map_key_field=resource_view.__extras.map_key_field %}
                  {% set data_key_field=resource_view.__extras.data_key_field %}
                  {% set data_value_field=resource_view.__extras.data_value_field %}
                  {% set sql_string=resource_view.__extras.sql_string %}
                  {% set map_title = resource_view.title %}
                {% endif %}
                  {% snippet 'ajax_snippets/map_module.html',
                    map_title=map_title,
                    map_subtitle=map_subtitle,
                    map_description=map_description,
                    map_config=map_config,
                    map_resource=map_resource,
                    map_key_field=map_key_field,
                    data_key_field=data_key_field,
                    data_value_field=data_value_field,
                    sql_string=sql_string %}
            {% endif %}
        {% endif %}
    </div>
    <hr />
</div>
