<div class="map-wrapper">
<a id="saveMap" class="html2canvas-ignore">
<i class="fa fa-download fa-lg" aria-hidden="true" title="{{ _('Download image') }}"
data-name="{{ title }}"></i>
</a>
<div id="knowledge_hub_map_module" class="item-content" style="min-height: 500px; width: 100%; height: 600px" data-module="knowledgehub-map"
     data-module-map_title="{{ map_title }}"
     data-module-map_subtitle="{{ map_subtitle }}"
     data-module-map_description="{{ map_description }}"
     data-module-map_config="{{ map_config }}"
     data-module-map_resource="{{ map_resource }}"
     data-module-map_key_field="{{ map_key_field }}"
     data-module-data_key_field="{{ data_key_field }}"
     data-module-data_value_field="{{ data_value_field }}"
     data-module-sql_string="{{ sql_string }}">
     <div class="logoContainer" >
      <img style="opacity: 0" class="visualization-logo" src="/base/images/unhck-kh.svg">
      <div>
        {{map_title}}
        <p class="text-muted">{{map_subtitle|truncate(30,true,"...")}}</p>
        <p class="text-muted">{{map_description|truncate(50,true,"...")}}</p>
      </div>
      
    </div>
     Loading...
</div>
</div>
