{% import "macros/form.html" as form %}

{% set source_options = [{'value': 'mssql', 'text': 'MSSQL'},
                         {'value': 'postgresql', 'text': 'PostgreSQL'}] %}


<div class="form-group control-select">
    <label class="control-label" for="data_source">
        <span title="This field is required" class="control-required">*</span>
        DB Type
    </label>
    <div class="controls">
        <select id="db_type" name="db_type" class="form-control select-source">
            <option value="" {% if "" == db_type %} selected {% endif %} hidden>Please Choose...</option>
            {% for opt in source_options %}
                <option value="{{ opt.value }}" {% if opt.value == db_type %} selected {% endif %}>{{ opt.text or opt.value }}</option>
            {% endfor %}
        </select>
    </div>
</div>

