<div>
<div data-module="table"
     data-module-sql_string="{{ sql_string }}"
     data-module-resource_id="{{ resource_id }}"
     data-module-resource_name="{{ resource_name }}"
     data-module-y_axis="{{ y_axis }}"
     data-module-measure_label="{{ measure_label }}"
     data-module-main_value="{{ main_value }}"
     data-module-category_name="{{ category_name }}"
     data-module-data_format="{{ data_format }}"
     data-module-y_operation="{{ y_operation }}"
     data-module-table_title="{{ table_title }}"
     data-module-table_subtitle="{{ table_subtitle }}"
     data-module-table_description="{{ table_description }}"
     >
</div>
<table id="table-item-{{ resource_id }}" class="hover table-bordered"></table>
</div>
