{% resource 'knowledgehub/javascript/visualization_info.js' %}

<button type="button" data-module="visualization_info" data-module-title="{{ title }}"
  data-module-subtitle="{{ subtitle }}" data-module-description="{{description}}" data-module-resq="{{resq}}"
  data-module-resource_id="{{ resource_id }}">
  <i class="fa fa-info-circle"></i>
</button>
