<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What are Functional Units?') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
          Functional Units are used to create, manage and publish collections
          of datasets. Users can have different roles within a Functional Unit,
          depending on their level of authorisation to create, edit and publish.
        {% endtrans %}
      </p>
    </div>
  </div>