<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What are Joint Analysis?') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
          You can use joint analysis to create and manage collections of datasets.
          This could be to catalogue datasets for a particular project or team,
          or on a particular theme, or as a very simple way to help people find
          and search your own published datasets.
        {% endtrans %}
      </p>
    </div>
  </div>